.about-page {
  .collab {
    margin: 90px auto 0;
    &__posts {
      margin-top: 60px;
      gap: 20px;
    }
    &__post {
      width: calc((100% - 40px) / 3);
      padding: 32px 24px;
      border-radius: 4px;
      &-title {
        color: $blue;
        text-transform: uppercase;
        margin-bottom: 16px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .about-page {
    .collab {
      margin-top: 40px;
      &__posts {
        margin-top: 30px;
        flex-direction: column;
      }
      &__post {
        width: 100%;
        padding: 0;
        border: 1px solid transparent;
        &-header {
          &.active {
            .collab__post-title {
              color: $blue;
              padding-bottom: 12px;
              left: 0;
              transform: translate(0) ;
            }
          }
        }
        &-title {
          color: $black;
          font-size: 18px;
          line-height: 23px;
          margin-bottom: 0;
          padding: 28px 16px;
          cursor: pointer;
          position: relative;
          left: 50%;
          transform: translate(-50%);
          width: fit-content;
        }
        &-text {
          padding: 0 16px 28px 16px;
          display: none;
          p {
            font-size: 12px;
            line-height: 17px;
          }
        }
        &.active {
          border: 1px solid rgba(42, 82, 255, 0.25);
        }
      }
    }
  }

}