.about-page {
  .reviews {
    margin: 180px auto 140px;
    overflow: hidden;
    .brinpl-slider {
      &__slides {
        margin: 56px 0;
        .slick-slide {
          margin: 0 12px;
          &>div {
            height: 100%;
          }
        }
      }
    }
    &__item {
      padding: 43px;
      background: $white;
      box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
      border-radius: 4px;
      height: 100%;
      &-status {
        color: $grey;
        margin-bottom: 18px;
      }
      .img-wrapper {
        width: 56px;
        height: 56px;
        border-radius: 56px;
        overflow: hidden;
        margin-bottom: 16px;
        &>img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .about-page {
    .reviews {
      margin: 60px auto;
      .brinpl-slider {
        &__slides {
          margin: 28px 0;
        }
      }
    }
  }
}