.about-page {
  .strategy {
    margin-top: 90px;
    &__content {
      margin-top: 60px;
    }
    &__list {
      width: 50%;
      padding: 40px 30px;
      background: #ECECF8;
      border-radius: 6px 0 0 6px;
      &-item {
        align-items: center;
        max-width: 360px;
        gap: 20px;
        padding: 20px 30px;
        background: $bg-white;
        border: 1px solid $bg-white;
        border-radius: 4px;
        cursor: pointer;
        &:not(:first-child) {
          margin-top: 24px;
        }
        &:hover {
          box-shadow: 2px 8px 31px 1px rgba(216, 219, 232, 0.9);
          border: 1px solid rgba(42, 82, 255, 0.25);
        }
        &.active {
          border: 1px solid $blue;
          .strategy__list {
            &-num {
              background: $blue;
              color: $white;
            }
            &-title {
              color: $blue;
            }
          }
        }
      }
      &-num {
        flex: 0 0 auto;
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 20px;
        border: 1px solid $blue;
        border-radius: 20px;
        background: #FFFFFF;
        position: relative;
      }
      &-title {
        margin-bottom: 0;
      }
      &-text {
        display: none;
      }
    }
    &__description {
      width: 50%;
      background: $blue;
      padding: 70px 78px;
      border-radius: 0 6px 6px 0;
      &-item {
        display: none;
        color: $white;
        opacity: 0;
        &.active {
          display: block;
          opacity: 1;
        }
      }
      &-title {
        text-transform: uppercase;
        color: $white;
        margin-bottom: 28px;
      }
      &-text {
        p {
          @media screen and (min-width: 1025px) {
            font-size: 20px;
            line-height: 30px;
          }
          color: $white;
        }
      }
      &-dots {
        margin-top: 60px;
        gap: 10px;
      }
      &-dot {
        width: 7px;
        height: 7px;
        border-radius: 10px;
        background: #819DFF;
        &.active {
          width: 52px;
          background: $bg-blue;
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .about-page {
    .strategy {
      &__description {
        padding: 70px 40px;
      }
      &__list-item {
        padding: 20px 24px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .about-page {
    .strategy {
      margin-top: 36px;
      &__content {
        margin-top: 20px;
        flex-direction: column;
      }
      &__list {
        width: 100%;
        background: transparent;
        padding: 0;
        &-item {
          flex-direction: column;
          align-items: start;
          gap: 0;
          max-width: 100%;
          padding: 20px 16px 44px;
          &:not(:first-child) {
            margin-top: 12px;
          }
          &.active {
            border: 1px solid transparent;
            .strategy__list {
              &-num {
                background: transparent;
                color: $black;
              }
              &-title {
                color: $black;
              }
            }
          }

        }
        &-title {
          margin-top: 16px;
          text-transform: uppercase;
        }
        &-text {
          display: block;
          margin-top: 8px;
          & > p {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
      &__description {
        display: none !important;
      }
    }
  }
}