.contacts__form {
  .form {
    &__sender {
      gap: 16px;
      margin-top: 24px;
      margin-bottom: 16px;
      .form__group {
        width: calc(50% - 8px);
      }
    }
    &__group {
      position: relative;
      .error {
        border-color: $red;
        position: relative;
        &-message {
          position: absolute;
          top: 100%;
          left: 3px;
          text-align: center;
          font-size: 10px;
          line-height: 13px;
          color: $red;
          pointer-events: none;
          opacity: 0;
        }
        &~.error-message {
          opacity: 1;
        }
      }
      .label-clip {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        background: #E0E5F8;
        border-radius: 2px;
        z-index: 2;
        cursor: pointer;
        text-align: center;
      }
    }
  }
  #form-message {
    padding-right: 43px;
  }
  &-services {
    margin: 40px 0 24px;
  }
  .feedback-form-filename {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 14px;
    line-height: 19px;
    color: $grey;
  }
  .service {
    max-width: 600px;
    &__item {
      margin: 0 7px 16px 0;
      &-label {
        padding: 9px 20px;
        background: $light-grey;
        border-radius: 4px;
        margin-bottom: 0;
        user-select: none;
        cursor: pointer;
        &:hover {
          background: #E6EAFC;
        }
        &.active {
          background: #C7D2FF;
          transition: all .2s ease-in-out;
        }
      }
    }
  }
  &-btn {
    margin-top: 36px;
  }
  .contact-form-success {
    top: 0;
    border-radius: 4px;
  }
}