.contacts__form {
  .form {
    &__sender {
      gap: 16px;
      margin-top: 16px;
      margin-bottom: 16px;
      .form__group {
        width: calc(50% - 8px);
      }
    }
    &__group {
      .label-clip {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        z-index: 2;
        cursor: pointer;
        text-align: center;
        opacity: .6;
      }
    }
  }
  #form-message {
    padding-right: 43px;
    resize: none;
    height: 46px;
  }
  &-services {
    margin: 24px 0;
  }
  .feedback-form-filename {
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 14px;
    line-height: 19px;
    color: $grey;
  }
  .service {
    &__item {
      margin: 0 7px 16px 0;
      &-label {
        padding: 9px 20px;
        background: $light-grey;
        border-radius: 4px;
        margin-bottom: 0;
        user-select: none;
        cursor: pointer;
        &:hover {
          background: #E6EAFC;
        }
        &.active {
          background: #C7D2FF;
          transition: all .2s ease-in-out;
        }
      }
    }
  }
  &-btn {
    margin-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  .contacts__form {
    #form-message {
      height: 80px;
    }
  }
}