.feedback {
  background: #ECF0FF;
  &__col1 {
    width: 46%;
    .img-wrapper {
      @include image(79);
      margin: 32px 0;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  &__col2 {
    max-width: 50%;
    .brinpl-social {
      margin-top: 80px;
    }
  }
  &__title {
    margin-top: 114px;
    span {
      color: $blue;
      font-family: FontHeavy;
    }
  }
  &__subtitle {
    font-weight: 500;
  }
  &__btn {
    margin-top: 16px;
  }
}
@media screen and (max-width: 767px) {
  .feedback {
    & > div {
      flex-direction: column-reverse;
      text-align: center;
    }
    &__col1,
    &__col2 {
      width: 100%;
      max-width: 100%;
    }
    &__col2 {
      .brinpl-social {
        justify-content: center;
        margin-top: 50px;
      }
    }
    &__title {
      margin-top: 60px;
      margin-bottom: 20px;
    }
    &__subtitle {
      margin-bottom: 24px;
    }
    &__btn {
      margin-top: 0;
    }

  }
}