.feedback {
  margin-top: 120px;
  background: $foot-bg;
  &__col1 {
    width: 50%;
    .img-wrapper {
      @include image(70);
      margin: 62px 0;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  &__col2 {
    max-width: calc(50% - 100px);
    margin: 0 auto;
    .brinpl-social {
      margin-top: 80px;
    }
  }
  &__title {
    margin-top: 60px;
    span {
      color: $blue;
      font-family: FontBold;
    }
  }
  &__subtitle {
    margin: 12px 0 0;
  }
  &__btn {
    margin-top: 40px;
  }
  &__socials-title {
    margin: 80px 0 16px;
  }
}
@media screen and (max-width: 768px) {
  .feedback {
    margin-top: 30px;
    & > div {
      flex-direction: column-reverse;
      text-align: center;
    }
    &__col1,
    &__col2 {
      width: 100%;
      max-width: 100%;
    }
    &__col1 {
      .img-wrapper {
        margin: 30px 0;
      }
    }
    &__col2 {
      .brinpl-social {
        justify-content: center;
        margin-top: 50px;
      }
    }
    &__title {
      margin: 40px 0 0;
    }
    &__subtitle {
      margin: 20px 0 0;
    }
    &__btn {
      margin: 24px 0 0;
    }
    &__socials-title {
      margin-top: 40px;
    }
  }
}
@media screen and (max-width: 480px) {
  .feedback {
    &__title {
      margin-top: 28px;
    }
    &__subtitle {
      margin-top: 8px;
    }
    &__socials-title {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}