@font-face {
    font-family: 'FontMedium';
    src: url('../../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
    font-display: block;
}
@font-face {
    font-family: 'FontHeavy';
    src: url('../../fonts/AvenirNextCyr-Heavy.ttf') format('truetype');
    font-display: block;
}
@font-face {
    font-family: 'FontBold';
    src: url('../../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
    font-display: block;
}
@font-face {
    font-family: 'FontDemi';
    src: url('../../fonts/AvenirNextCyr-Demi.ttf') format('truetype');
    font-display: block;
}