.footer {
    background: $bg-blue;
    >div {
        height: 94px;
    }
    .copyright {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        span {
            opacity: .6;
        }
    }
    .privacy-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-decoration-line: underline;
        color: $black;
        &:hover {
            color: $blue;
        }
    }
}
@media screen and (max-width: 359px) {
    .footer {
        .copyright {
            max-width: 130px;
        }
    }
}