.header {
  padding: 27px 0;
  z-index: 1020;
  transition: all 0.4s linear;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: $bg-white;
    opacity: 0;
    z-index: -1;
    transition: all 0.4s linear;
  }
  &-scrolled {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    &::after {
      opacity: .9;
    }
  }
  .logo-wrapper {
    max-width: 180px;
    max-height: 40px;
  }
  .nav-menu {
    & > ul {
      display: flex;
      gap: 40px;
      margin: 0;
      & > li {
        list-style: none;
        font-size: 16px;
        line-height: 24px;
        & > a {
          color: $black;
          position: relative;
          &:hover {
            color: $blue;
          }
        }
        &.current_page_item {
          & > a {
            color: $blue;
          }
        }
      }
    }
    &__social {
      display: none;
    }
  }
  .burger {
    display: none;
  }
}
@media screen and (max-width: 932px) {
  .header {
    .nav-menu > ul {
      gap: 30px;
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    .logo-wrapper {
      z-index: 5;
    }
    .nav-menu {
      position: absolute;
      inset: 0;
      left: 100vw;
      min-height: 100vh;
      background: $bg-white;
      padding-top: 94px;
      padding-bottom: 94px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      & > ul {
        display: block;
        padding-left: 0;
        overflow: auto;
        & > li {
          display: block;
          text-align: center;
          padding: 3vh 0;
          font-size: 28px;
          line-height: 34px;
          & > a {
            &:after {
              content: none;
            }
          }
          &.current_page_item {
            & > a {
              &:after {
                content: none;
              }
            }
          }
        }
      }
      &.active {
        left: 0;
        opacity: 1;
      }
      &__social {
        display: block;
        text-align: center;
        margin-top: 50px;
        &-title {
          color: $medium-grey;
          margin-bottom: 12px;
          &:not(:first-child) {
            margin-top: 40px;
          }
        }
        .social-link-img {
          width: 40px;
          height: 40px;
          &:not(:last-child) {
            margin-right: 16px;
          }
        }
        &-email {
          color: $black;
        }
      }
    }
    .burger {
      display: block;
      height: 21px;
      margin-right: 10px;
      z-index: 5;
      .burger-line {
        width: 30px;
        height: 3px;
        background: $black;
        position: relative;
        top: 9px;
        &::before,
        &::after {
          content: '';
          height: 3px;
          left: 0;
          right: 0;
          background: $black;
          position: absolute;
        }
        &::before {
          top: -9px;
        }
        &::after {
          top: 9px;
        }
      }
      &.active {
        .burger-line {
          transform: rotate(135deg);
          &::before {
            top: 0;
            opacity: 0;
          }
          &::after {
            top: 0;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}