.lets-talk {
    background: $bg-blue;
    padding: 80px 0 72px;
    &__title {
        text-transform: uppercase;
        font-size: 48px;
        line-height: 66px;
        color: $blue;
        margin-bottom: 72px;
    }
    &__col1 {
        width: 50%;
    }
    .form__group {
        position: relative;
        width: calc(50% - 20px);
        &-tellus {
            width: 100%;
            margin: 66px 0 32px;
        }
        .label {
            &-text {
                position: absolute;
                top: 4px;
                left: 0;
                margin-bottom: 0;
            }
            &-clip {
                position: absolute;
                top: 0;
                right: 5px;
                width: 9px;
                height: 18px;
                filter: grayscale(1);
                z-index: 2;
                cursor: pointer;
                &:hover {
                    filter: none;
                }
            }
        }
        .input-type-text {
            cursor: url('../../images/input-cursor.svg'), text;
            position: relative;
            background: transparent;
            border: none;
            border-bottom: 1px solid $neutral6;
            outline: none;
            padding: 4px 0 12px;
            z-index: 1;
            width: 100%;
            &:focus,
            &:not(:placeholder-shown) {
                &~.label-text {
                    top: -20px;
                    font-size: 12px;
                }
            }
        }
        .error {
            border-bottom-color: $red;
            position: relative;
            &-message {
                position: absolute;
                top: 110%;
                font-size: 12px;
                line-height: 16px;
                color: $red;
                user-select: none;
                opacity: 0;
            }
            &~.error-message {
                opacity: 1;
            }
        }
    }
    &-form {
        &-services {
            margin: 40px 0 24px;
        }
        &-filename {
            position: absolute;
            top: 110%;
            left: 0;
            font-size: 14px;
            line-height: 19px;
            color: $neutral7;
        }
    }
    #tellus {
        padding-right: 18px;
    }
    .service__item {
        margin: 0 7px 14px 0;
        &-label {
            font-size: 12px;
            line-height: 12px;
            padding: 12px 24px;
            background: rgba(42, 82, 255, 0.1);
            border-radius: 32px;
            margin-bottom: 0;
            user-select: none;
            cursor: pointer;
            &:hover {
                color: $white;
                background: rgba(42, 82, 255, 0.5);
            }
            &.active {
                color: $white;
                background: $blue;
                transition: all .2s ease-in-out;
            }
        }
    }
    &__col2 {
        .social {
            margin-top: 48px;
        }
        .img-wrapper {
            @include image(66);
            max-width: 237px;
            margin: 65px 0 0 35px;
        }
    }
    &__contacts {
        &-title {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: $neutral7;
            margin-bottom: 24px;
        }
        &-email,
        &-phone {
            display: block;
            color: $black;
            &:hover {
                color: $black;
            }
        }
        &-email {
            text-decoration: underline;
            margin-bottom: 14px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}