.lets-talk {
    background: $bg-blue;
    padding: 80px 0 72px;
    &__title {
        text-transform: uppercase;
        font-size: 48px;
        line-height: 66px;
        color: $blue;
        margin-bottom: 72px;
    }
    &__col1 {
        width: 50%;
    }
    &__col2 {
        .brinpl-social {
            margin-top: 48px;
        }
        .img-wrapper {
            @include image(66);
            max-width: 237px;
            margin: 65px 0 0 35px;
        }
    }
    &__contacts {
        &-title {
            letter-spacing: 0.01em;
            color: $neutral7;
            margin-bottom: 24px;
        }
        &-email,
        &-phone {
            display: block;
            color: $black;
            &:hover {
                color: $black;
            }
        }
        &-email {
            text-decoration: underline;
            margin-bottom: 14px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}