.page {
    &__heading {
        text-align: center;
        >img {
            z-index: -1;
        }
    }
    &__title {
        font-size: 50px;
        line-height: 68px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: $blue;
        padding: 160px 0 80px;
    }
}