.portfolio-page__list-item {
  width: calc((100% - 40px) / 3);
  &:hover {
    h3 {
      color: $blue;
    }
  }
  .img-wrapper {
    @include image(90);
    border-radius: 10px;
    background: $white;
  }
  &-title {
    margin: 20px 0 0;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-page__list-item {
    width: calc(50% - 12px);
  }
}
@media screen and (max-width: 479px) {
  .portfolio-page__list-item {
    width: 100%;
    &-title {
      font-size: 16px;
      margin-top: 12px;
    }
  }
}
