.text-img {
  &__col1-inner {
    max-width: 530px;
  }
  &__col2-inner {
    max-width: 612px;
    height: 100%;
    margin-left: auto;
    .img-wrapper {
      border-radius: 6px;
    }
  }
  &-text {
    margin: 28px 0 0;
  }
  &__btn {
    margin-top: 40px;
  }
  .content-column {
    width: calc(50% - 12px);
  }
}

@media screen and (max-width: 767px) {
  .text-img {
    text-align: center;
    flex-direction: column;
    &__col2 {
      margin-bottom: 30px;
    }
    &__col1-inner,
    &__col2-inner {
      max-width: 100%;
      .img-wrapper {
        @include image(100);
      }
    }
    .content-column {
      width: 100%;
    }

  }
}