.about-page {
    .about {
        &__first {
            margin-top: 120px;
            .section-title {
                width: 105%;
            }
        }
    }
    .things {
        margin-top: 140px;
        &__content {
            margin-bottom: 80px;
            &-item {
                width: calc(50% - 87.5px);
                margin-top: 60px;
                @media screen and (max-width: 1366px) {
                    width: calc(50% - 30px);
                }
                &-heading {
                    gap: 16px;
                    .img-wrapper {
                        position: relative;
                        width: 64px;
                        height: 64px;
                    }
                }
                &-text {
                    margin: 26px 0 0;
                }
            }
        }
    }
}