.contacts-page {
  padding-top: 180px;
  padding-bottom: 194px;
  position: relative;
  overflow-x: hidden;
  &::after {
    content: '';
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    height: 100%;
    max-height: 380px;
    margin: 0 -50px;
    opacity: .65;
    background: url("../../images/cta-bg.png") center bottom/contain no-repeat;
    z-index: -1;
  }
  &__inner {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  &__socials {
    width: fit-content;
    padding-left: 40px;
    &-title {
      margin-bottom: 16px;
      color: $medium-grey;
    }
    .socials__wrapper {
      margin-bottom: 50px;
    }
  }
  &__contacts {
    &-item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      &-title {
        color: $medium-grey;
        margin-bottom: 12px;
      }
      &-link {
        color: $black;
      }
    }
  }
  &__form {
    padding-right: 40px;
    &::after {
      content: '';
      background: url("../../images/specular.png") 0 0/contain no-repeat;
      position: absolute;
      height: 300px;
      width: 330px;
      bottom: -15px;
      left: -60%;
      z-index: -1;
    }
  }
  .steps {
    margin-top: 90px;
    grid-column: span 2;
    &__title {
      text-align: center;
    }
    &__items {
      margin-top: 60px;
      gap: 20px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 22px;
        left: 8%;
        right: 8%;
        height: 2px;
        background: $light-grey;
        z-index: -1;
      }
    }
    &__item {
      max-width: 250px;
      &-number {
        flex: 0 0 auto;
        width: 44px;
        height: 44px;
        border-radius: 30px;
        background: $white;
        margin: 0 auto;
      }
      &-text {
        margin: 24px 0 0;
        text-align: center;
      }
    }
  }
  .call-to-action {
    grid-column: span 2;
    margin-top: 210px;
    position: relative;
    .section-title {
      max-width: 480px;
      margin-inline: auto;
    }
    &__btn {
      width: fit-content;
      margin: 30px auto 0;
      position: relative;
      a {
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .contacts-page {
    padding-top: 100px;
    padding-bottom: 28px;
    &::after {
      bottom: 0;
      max-height: 330px;
      background-position: 0 bottom;
      background-size: cover;
    }
    &__inner {
      grid-template-columns: 100%;
    }
    &__socials {
      text-align: center;
      order: 1;
      margin: 40px auto 0;
      padding-left: 0;
      &-title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
      }
      .socials__wrapper {
        margin-bottom: 16px;
      }
    }
    &__contacts-item {
      &-title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 4px;
      }
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    &__form {
      padding-right: 0;
      &::after {
        width: 150px;
        height: 150px;
        left: auto;
        right: -50px;
        bottom: -100px;
        transform: rotate(-20deg);
      }
      .section-title {
        margin-bottom: 20px;
      }
      .contacts__form-services {
        margin-top: 0;
        margin-bottom: 16px;
      }
    }
    .steps {
      margin-top: 36px;
      &__title {
        text-align: start;
      }
      &__items {
        margin-top: 20px;
        flex-direction: column;
        &::before {
          content: none;
        }
      }
      &__item {
        display: flex;
        align-items: center;
        max-width: none;
        &-number {
          margin: 0;
          width: 40px;
          height: 40px;
        }
        &-text {
          margin: 0 0 0 20px;
          text-align: start;
        }
      }
    }
    .call-to-action {
      margin-top: 36px;
      &__btn {
        margin-top: 24px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .contacts-page {
    &::after {
      max-height: 220px;
      bottom: 30px;
    }
    &__form {
      .form__sender {
        flex-direction: column;
        gap: 10px;
        margin-top: 4px;
        margin-bottom: 10px;
        .form__group {
          width: 100%;
        }
      }
      .service__item {
        margin-bottom: 10px;
      }
      .contacts__form-btn {
        margin-top: 20px;
        width: 100%;
      }
    }
    .call-to-action {
      &__btn {
        width: 100%;
        & > a {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 380px) {
  .contacts-page {
    &::after {
      max-height: 180px;
      bottom: 50px;
    }
  }
}