.portfolio-page {
  .portfolio {
    &__filter {
      margin-bottom: 40px;
      &-buttons {
        gap: 10px;
      }
    }
    &__category {
      &-input {
        display: none;
        &:checked + .portfolio__category-name {
          border-color: $blue;
          color: $black;
        }
      }
      &-name {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 24px;
        color: $medium-grey;
        text-align: center;
        padding: 14px 22px;
        border: 2px solid #edeef5;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
          border-color: rgba(42, 82, 255, 0.25);
        }
      }
    }
  }
  &__list {
    gap: 40px 20px;
  }
  @import "../components/portfolio-item";
}
@media screen and (max-width: 1024px) {
  .portfolio-title {
    font-size: 28px;
    line-height: 34px;
    margin-top: 12px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-page {
    &__list {
      gap: 20px;
    }
    .portfolio__filter {
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 479px) {
  .portfolio-page {
    .portfolio {
      &__filter-buttons {
        justify-content: center;
      }
      &__category-name {
        padding: 10px 18px;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}