.services-page {
  .services{
    &__content {
      .text-img {
        &:not(:first-child) {
          margin: 80px auto 0;
        }
        &__col2-inner {
          .img-wrapper {
            @include image(73.5);
          }
        }
        &:nth-child(odd) {
          .text-img__col1 {
            order: 1;
            &-inner {
              margin-left: auto;
            }
          }
          .text-img__col2 {
            &-inner {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .services-page {
    .services{
      &__content {
        .text-img {
          &:not(:first-child) {
            margin: 50px auto 0;
          }
          &__col1 {
            order: 1;
            margin-top: 24px;
            .section-title,
            .text-img-text {
              text-align: center;
            }
          }
        }
      }
    }
  }
}