.portfolio-single {
  &__content {
    padding-top: 170px;
    padding-bottom: 80px;
    &-col1 {
      margin-right: 20px;
      align-self: start;
      position: sticky;
      top: 100px;
    }
    &-col2 {
      width: 68%;
      border-radius: 10px;
      overflow: hidden;
      flex: 0 0 auto;
      img {
        width: 100%;
      }
    }
    &-col3 {
      width: auto;
      margin-left: 20px;
      @media screen and (min-width: 769px) {
        align-self: start;
        position: sticky;
        top: 100px;
      }
    }
    &-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: $light-grey;
      border-radius: 4px;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      &:hover {
        filter: brightness(.9);
      }
      &:active {
        transition: none;
        filter: brightness(.8);
      }
      &.portfolio-close {
        &:hover {
          img {
            transform: rotate(-360deg);
          }
        }
      }
      &.portfolio-prev {
        transform: scale(-1);
      }
      & > img {
        opacity: .5;
      }
    }
    &-descr {
      background: $light-grey;
      border-radius: 10px;
      padding: 32px 20px 52px;
      max-height: calc(100vh - 120px);
      overflow-y: auto;
      &-title {
        margin-bottom: 16px;
      }
      &-text {
        font-size: 14px;
        line-height: 20px;
        color: $medium-grey;
        margin-bottom: 40px;
      }
    }
  }
  &__carousel {
    overflow: hidden;
    .section-title {
      position: relative;
      z-index: 1;
    }
    &-slides {
      margin-top: 20px;
      .slick-slide {
        margin: 64px 12px;
      }
    }
    .img-wrapper {
      @include image(89);
      border-radius: 10px;
    }
  }
  .portfolio-carousel {
    &__buttons {
      margin-top: 30px;
    }
    &__prev,
    &__next {
      border: none;
      margin: 0 6px;
    }
  }
}
.no-image {
  width: 50%;
  margin-left: 0;
}
@media screen and (max-width: 1024px) {
  .portfolio-single {
    &__content {
      &-col1 {
        margin-right: 10px;
      }
      &-col3 {
        margin-left: 10px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .portfolio-single {
    &__content {
      padding-top: 100px;
      padding-bottom: 40px;
      flex-wrap: wrap;
      &-col1 {
        margin-right: 0;
        display: flex;
        width: 100%;
        .portfolio-close {
          margin-right: auto;
        }
        .portfolio-prev {
          margin-right: 12px;
        }
      }
      &-nav {
        width: 44px;
        height: 44px;
        margin-bottom: 0 !important;
      }
      &-col2 {
        width: 100%;
        margin-top: 14px;
      }
      &-col3 {
        width: 100%;
        margin-top: 32px;
        margin-left: 0;
      }
      &-descr {
        padding: 20px;
      }
    }
    &__carousel {
      margin-bottom: 60px;
      &-slides {
        .slick-slide {
          margin: 24px 12px;
        }
      }
    }
  }
}