@font-face {
  font-family: "FontMedium";
  src: url("../../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "FontHeavy";
  src: url("../../fonts/AvenirNextCyr-Heavy.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "FontBold";
  src: url("../../fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "FontDemi";
  src: url("../../fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-display: block;
}
@keyframes blinking {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes plane-btn {
  0% {
    left: 30px;
    top: 14px;
    opacity: 1;
    transform: scale(1);
  }
  50% {
    left: 50px;
    top: 0;
    opacity: 0;
    transform: scale(0.1);
  }
  51% {
    left: 10px;
    top: 40px;
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    left: 30px;
    top: 14px;
    opacity: 1;
    transform: scale(1);
  }
}
* {
  font-family: "FontDemi";
  color: #1F1F1F;
}

body {
  background-color: #FAFAFA;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}
body::-webkit-scrollbar-thumb {
  background-color: #ECF0FF;
  border-radius: 50px;
  border: 2px solid #FFFFFF;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #AFBEFF;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.filler {
  min-height: calc(100vh - 94px);
}

.font-medium {
  font-family: "FontMedium";
}

.font-bold {
  font-family: "FontBold";
}

.font-heavy {
  font-family: "FontHeavy";
}

.heavy-title {
  font-size: 56px;
  line-height: 76px;
  color: #1F1F1F;
}

.section-title {
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.portfolio-title {
  font-size: 32px;
  line-height: 39px;
}

.tab-title {
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
}

.small-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.input-text {
  font-size: 14px;
  line-height: 22px;
}

.contacts-text {
  font-size: 18px;
  line-height: 27px;
}

.absolute-cover-img,
.darkness-effect {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.darkness-effect {
  background-color: rgba(42, 82, 255, 0.7);
}

.img-hover:hover img {
  transform: scale(1.3) rotate(-10deg);
}

.img-shadow {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0px 8px 16px -8px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.default-btn {
  color: #FFFFFF;
  position: relative;
  z-index: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  border-radius: 2px;
  overflow: hidden;
  padding: 14px 28px;
  border: none;
}
.default-btn::before, .default-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}
.default-btn::before {
  background: radial-gradient(139.69% 1676.47% at -24.23% -19.64%, #6884FF 0%, #3258FF 100%);
}
.default-btn::after {
  background: #2A52FF;
  opacity: 0;
}
.default-btn:hover {
  color: #FFFFFF;
}
.default-btn:hover::after {
  opacity: 1;
}

.default-btn-icon {
  color: #FFFFFF;
  position: relative;
  z-index: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  border-radius: 2px;
  overflow: hidden;
  padding: 14px 28px 14px 64px;
}
.default-btn-icon::before, .default-btn-icon::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}
.default-btn-icon::before {
  background: radial-gradient(139.69% 1676.47% at -24.23% -19.64%, #6884FF 0%, #3258FF 100%);
}
.default-btn-icon::after {
  background: #2A52FF;
  opacity: 0;
}
.default-btn-icon:hover {
  color: #FFFFFF;
}
.default-btn-icon:hover::after {
  opacity: 1;
}
.default-btn-icon > img {
  position: absolute;
  left: 30px;
  top: 14px;
  width: 18px;
  height: 18px;
}
.default-btn-icon:hover > img {
  animation: plane-btn 1s linear;
}

.slick-list {
  margin: -30px -20px;
  padding: 30px 10px;
}
.slick-list::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 10px 10px #fafafa;
  pointer-events: none;
}
.slick-track {
  display: flex;
}
.slick-slide {
  height: auto;
}

.brinpl-slider__next, .brinpl-slider__prev {
  color: #FFFFFF;
  position: relative;
  z-index: 0;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  margin: 0 4px;
}
.brinpl-slider__next::before, .brinpl-slider__next::after, .brinpl-slider__prev::before, .brinpl-slider__prev::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}
.brinpl-slider__next::before, .brinpl-slider__prev::before {
  background: radial-gradient(139.69% 1676.47% at -24.23% -19.64%, #6884FF 0%, #3258FF 100%);
}
.brinpl-slider__next::after, .brinpl-slider__prev::after {
  background: #2A52FF;
  opacity: 0;
}
.brinpl-slider__next:hover, .brinpl-slider__prev:hover {
  color: #FFFFFF;
}
.brinpl-slider__next:hover::after, .brinpl-slider__prev:hover::after {
  opacity: 1;
}
.brinpl-slider__next:focus, .brinpl-slider__prev:focus {
  outline: none;
}
.brinpl-slider__next img {
  transform: scale(-1);
}

.slick-hidden {
  display: none !important;
}

.transition-default {
  transition: all 0.4s ease-in-out;
}
.transition-default:hover {
  transition: all 0.4s ease-in-out;
}
.transition-default::before, .transition-default::after {
  transition: all 0.4s ease-in-out;
}
.transition-default::before:hover, .transition-default::after:hover {
  transition: all 0.4s ease-in-out;
}

.wysiwyg-styles > img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 24px;
}
.wysiwyg-styles > p {
  font-family: "FontMedium";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.wysiwyg-styles > p a {
  color: #2A52FF;
}
.wysiwyg-styles > p a:hover {
  color: #1F1F1F;
}
.wysiwyg-styles > p img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}
.wysiwyg-styles > p .alignleft,
.wysiwyg-styles > p .alignright {
  max-width: 50% !important;
  max-height: 500px !important;
  height: auto !important;
  object-fit: cover !important;
}
.wysiwyg-styles > p .alignleft {
  float: left;
  margin: 0 30px 30px 0;
}
.wysiwyg-styles > p .alignright {
  float: right;
  margin: 0 0 30px 30px;
}
.wysiwyg-styles > ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
.wysiwyg-styles > ul li {
  display: table;
  background-repeat: no-repeat;
  background-image: url("../../images/dot.svg");
  background-size: 12px 12px;
  background-position: 0 6px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 24px;
}
.wysiwyg-styles > ul li a {
  color: #2A52FF;
}
.wysiwyg-styles > ul li a:hover {
  color: #1F1F1F;
}
.wysiwyg-styles > h2 {
  font-family: FontBold;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 24px;
  color: #1F1F1F;
}
.wysiwyg-styles > *:last-child {
  margin-bottom: 0 !important;
}

.video-wysiwyg {
  position: relative;
  overflow: hidden;
  margin: 0 0 30px;
}
.video-wysiwyg:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.video-wysiwyg iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wysiwyg-gallery {
  margin: 0 0 15px;
}
.wysiwyg-gallery .single-gallery-element {
  width: calc((100% - 30px) / 3.001);
  margin: 0 15px 15px 0;
}
.wysiwyg-gallery .single-gallery-element:nth-of-type(3n), .wysiwyg-gallery .single-gallery-element:nth-last-of-type(1) {
  margin: 0 0 15px;
}
.wysiwyg-gallery .single-gallery-element:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.wysiwyg-gallery .single-gallery-element .gallery-image {
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}
.wysiwyg-gallery .single-gallery-element .additional-number {
  font-size: 30px;
  right: 15px;
  bottom: 15px;
  color: #FFFFFF;
}
.wysiwyg-gallery .single-gallery-element:hover .gallery-image {
  transform: scale(1.05) perspective(1000px);
  -webkit-transform: scale(1.05) perspective(1000px);
}

a {
  transition: all 0.4s ease-in-out;
}
a:hover {
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:before, a:after {
  transition: all 0.4s ease-in-out;
}

input,
textarea,
button {
  transition: all 0.4s ease-in-out;
}
input:hover,
textarea:hover,
button:hover {
  transition: all 0.4s ease-in-out;
}
input:focus,
textarea:focus,
button:focus {
  transition: all 0.4s ease-in-out;
  outline: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
button::-webkit-input-placeholder {
  transition: all 0.4s ease-in-out;
}
input::-moz-placeholder,
textarea::-moz-placeholder,
button::-moz-placeholder {
  transition: all 0.4s ease-in-out;
}
input:-moz-placeholder,
textarea:-moz-placeholder,
button:-moz-placeholder {
  transition: all 0.4s ease-in-out;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
button:-ms-input-placeholder {
  transition: all 0.4s ease-in-out;
}

.preloader {
  width: 80px;
  height: 15px;
  left: calc(90% - 45px);
  top: calc(50% - 7.5px);
  transition: all 0.1s linear;
  visibility: hidden;
  opacity: 0;
}
.preloader div {
  background-color: #2A52FF;
  position: absolute;
  top: 1px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.preloader div:nth-child(1) {
  left: 8px;
  animation: preloader-animation-1 0.6s infinite;
}
.preloader div:nth-child(2) {
  left: 8px;
  animation: preloader-animation-2 0.6s infinite;
}
.preloader div:nth-child(3) {
  left: 32px;
  animation: preloader-animation-2 0.6s infinite;
}
.preloader div:nth-child(4) {
  left: 56px;
  animation: preloader-animation-3 0.6s infinite;
}

.preloader-visible {
  visibility: visible;
  opacity: 1;
}

@keyframes preloader-animation-1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes preloader-animation-3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes preloader-animation-2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.preloader-circle {
  display: none;
  max-width: 30px;
  max-height: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(100% + 10px);
  -webkit-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}

.contact-form-success {
  inset: 0;
  top: -20px;
  background: #ECF0FF;
  z-index: -1;
  opacity: 0;
}
.contact-form-success.active {
  opacity: 1;
  z-index: 5;
}

.not-set-img img {
  object-fit: contain;
  padding: 20px;
}

@media screen and (max-width: 1185px) {
  .heavy-title {
    font-size: 46px;
    line-height: 66px;
  }
}
@media screen and (max-width: 1024px) {
  .contacts-text {
    font-size: 16px;
    line-height: 24px;
  }
  .section-title {
    font-size: 32px;
    line-height: 38px;
  }
  .tab-title {
    font-size: 22px;
    line-height: 30px;
  }
  .wysiwyg-styles > p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 979px) {
  .heavy-title {
    font-size: 35px;
    line-height: 55px;
  }
}
@media screen and (max-width: 767px) {
  .heavy-title {
    font-size: 40px;
    line-height: 48px;
  }
  .slick-list {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .slick-list::after {
    display: none;
  }
  .slick-list .img-hover:hover img {
    transform: none;
  }
}
@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed !important;
  }
}
@media screen and (max-width: 480px) {
  .section-title {
    font-size: 26px;
    line-height: 32px;
  }
}
.header {
  padding: 27px 0;
  z-index: 1020;
  transition: all 0.4s linear;
}
.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #FAFAFA;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s linear;
}
.header-scrolled {
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}
.header-scrolled::after {
  opacity: 0.9;
}
.header .logo-wrapper {
  max-width: 180px;
  max-height: 40px;
}
.header .logo-wrapper img {
  width: 400%;
  height: 400%;
  max-width: 720px;
  max-height: 160px;
  transform: scale(0.25);
  transform-origin: 0 0;
  object-fit: contain;
}
.header .nav-menu > ul {
  display: flex;
  gap: 40px;
  margin: 0;
}
.header .nav-menu > ul > li {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
}
.header .nav-menu > ul > li > a {
  color: #1F1F1F;
  position: relative;
}
.header .nav-menu > ul > li > a:hover {
  color: #2A52FF;
}
.header .nav-menu > ul > li > a:hover:after {
  width: 100%;
  opacity: 1;
}
.header .nav-menu > ul > li > a:after {
  content: "";
  position: absolute;
  background-color: #2A52FF;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  margin: 5px 0 0;
  opacity: 0;
  backface-visibility: hidden;
}
.header .nav-menu > ul > li.current_page_item > a {
  color: #2A52FF;
}
.header .nav-menu > ul > li.current_page_item > a:after {
  content: "";
  position: absolute;
  background-color: #2A52FF;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: 5px 0 0;
  opacity: 1;
  backface-visibility: hidden;
}
.header .mail-btn {
  color: #FFFFFF;
  position: relative;
  z-index: 0;
  width: 40px;
  height: 40px;
  box-shadow: 0px 2px 8px rgba(50, 89, 255, 0.15);
  border-radius: 200px;
  padding: 7px 10px;
  margin-left: 40px;
}
.header .mail-btn::before, .header .mail-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}
.header .mail-btn::before {
  background: radial-gradient(139.69% 1676.47% at -24.23% -19.64%, #6884FF 0%, #3258FF 100%);
}
.header .mail-btn::after {
  background: #2A52FF;
  opacity: 0;
}
.header .mail-btn:hover {
  color: #FFFFFF;
}
.header .mail-btn:hover::after {
  opacity: 1;
}
.header .mail-btn:hover > img {
  transform: rotateY(360deg);
}
.header .burger {
  display: none;
}

@media screen and (max-width: 932px) {
  .header .nav-menu > ul {
    gap: 30px;
  }
  .header .mail-btn {
    margin-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .header .logo-wrapper {
    z-index: 5;
  }
  .header .nav-menu {
    position: absolute;
    inset: 0;
    left: 100vw;
    min-height: 100vh;
    background: #FAFAFA;
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
  }
  .header .nav-menu > ul {
    display: block;
    padding-left: 0;
    overflow: auto;
  }
  .header .nav-menu > ul > li {
    display: block;
    text-align: center;
    padding: 3vh 0;
    font-size: 22px;
    line-height: 30px;
  }
  .header .nav-menu.active {
    left: 0;
    opacity: 1;
  }
  .header .menu-mail {
    display: none;
  }
  .header .burger {
    display: block;
    height: 21px;
    margin-right: 10px;
    z-index: 5;
  }
  .header .burger .burger-line {
    width: 30px;
    height: 3px;
    background: #1F1F1F;
    position: relative;
    top: 9px;
  }
  .header .burger .burger-line::before, .header .burger .burger-line::after {
    content: "";
    height: 3px;
    left: 0;
    right: 0;
    background: #1F1F1F;
    position: absolute;
  }
  .header .burger .burger-line::before {
    top: -9px;
  }
  .header .burger .burger-line::after {
    top: 9px;
  }
  .header .burger.active .burger-line {
    transform: rotate(135deg);
  }
  .header .burger.active .burger-line::before {
    top: 0;
    opacity: 0;
  }
  .header .burger.active .burger-line::after {
    top: 0;
    transform: rotate(90deg);
  }
}
.lets-talk {
  background: #ECF0FF;
  padding: 80px 0 72px;
}
.lets-talk__title {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 66px;
  color: #2A52FF;
  margin-bottom: 72px;
}
.lets-talk__col1 {
  width: 50%;
}
.lets-talk__col2 {
  width: calc(50% - 211px);
}
.lets-talk__col2 .brinpl-social {
  margin-top: 48px;
}
.lets-talk__col2 .img-wrapper {
  position: relative;
  max-width: 237px;
  margin: 65px 0 0 35px;
}
.lets-talk__col2 .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 66%;
}
.lets-talk__contacts-title {
  letter-spacing: 0.01em;
  color: #999999;
  margin-bottom: 24px;
}
.lets-talk__contacts-email, .lets-talk__contacts-phone {
  display: block;
  color: #1F1F1F;
}
.lets-talk__contacts-email:hover, .lets-talk__contacts-phone:hover {
  color: #2A52FF;
}
.lets-talk__contacts-email {
  text-decoration: underline;
  margin-bottom: 14px;
}
.lets-talk__contacts-email:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1150px) {
  .lets-talk__col2 {
    width: calc(50% - 50px);
  }
}
@media screen and (max-width: 767px) {
  .lets-talk {
    padding: 60px 0 30px;
  }
  .lets-talk__title {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 48px;
  }
  .lets-talk__content {
    flex-direction: column;
  }
  .lets-talk__col1, .lets-talk__col2 {
    width: 100%;
  }
  .lets-talk__col2 {
    margin-top: 50px;
    text-align: center;
  }
  .lets-talk__col2 .small-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
  }
  .lets-talk__col2 .brinpl-social {
    justify-content: center;
  }
  .lets-talk__col2 .img-wrapper {
    margin: 50px auto 0;
  }
  .lets-talk__contacts-email, .lets-talk__contacts-phone {
    font-size: 18px;
    line-height: 27px;
  }
}
.footer {
  background: #ECF0FF;
}
.footer > div {
  height: 94px;
}
.footer .copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.footer .copyright span {
  opacity: 0.6;
}
.footer .privacy-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #1F1F1F;
}
.footer .privacy-link:hover {
  color: #2A52FF;
}

@media screen and (max-width: 359px) {
  .footer .copyright {
    max-width: 130px;
  }
}
.page__heading {
  text-align: center;
}
.page__heading > img {
  z-index: -1;
}
.page__title {
  font-size: 50px;
  line-height: 68px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #2A52FF;
  padding: 160px 0 80px;
}

@media screen and (max-width: 767px) {
  .page__title {
    font-size: 40px;
    line-height: 48px;
    padding: 100px 0 60px;
  }
}
.brinpl-social {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%;
  row-gap: 12px;
}
.brinpl-social a {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #1F1F1F;
}
.brinpl-social a:hover {
  color: #2A52FF;
}

@media screen and (max-width: 767px) {
  .brinpl-social {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
}
@media screen and (max-width: 400px) {
  .brinpl-social {
    grid-template-columns: repeat(2, auto);
  }
}
.text-img__col1-inner {
  max-width: 500px;
}
.text-img__col2-inner {
  max-width: 500px;
  height: 100%;
  margin-left: auto;
}
.text-img__col2-inner .img-wrapper {
  position: relative;
  height: 100%;
  max-height: 556px;
  border-radius: 4px;
}
.text-img-text {
  margin: 24px 0 0;
}
.text-img .content-column {
  width: calc(50% - 30px);
}

@media screen and (max-width: 767px) {
  .text-img {
    text-align: center;
    flex-direction: column;
  }
  .text-img__col2 {
    margin-bottom: 50px;
  }
  .text-img__col1-inner, .text-img__col2-inner {
    max-width: 100%;
  }
  .text-img__col1-inner .img-wrapper, .text-img__col2-inner .img-wrapper {
    position: relative;
  }
  .text-img__col1-inner .img-wrapper::before, .text-img__col2-inner .img-wrapper::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .text-img .content-column {
    width: 100%;
  }
}
.feedback {
  background: #ECF0FF;
}
.feedback__col1 {
  width: 46%;
}
.feedback__col1 .img-wrapper {
  position: relative;
  margin: 32px 0;
  border-radius: 10px;
  overflow: hidden;
}
.feedback__col1 .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 79%;
}
.feedback__col2 {
  max-width: 50%;
}
.feedback__col2 .brinpl-social {
  margin-top: 80px;
}
.feedback__title {
  margin-top: 114px;
}
.feedback__title span {
  color: #2A52FF;
  font-family: FontHeavy;
}
.feedback__subtitle {
  font-weight: 500;
}
.feedback__btn {
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .feedback > div {
    flex-direction: column-reverse;
    text-align: center;
  }
  .feedback__col1, .feedback__col2 {
    width: 100%;
    max-width: 100%;
  }
  .feedback__col2 .brinpl-social {
    justify-content: center;
    margin-top: 50px;
  }
  .feedback__title {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .feedback__subtitle {
    margin-bottom: 24px;
  }
  .feedback__btn {
    margin-top: 0;
  }
}
.feedback__form .form__group {
  position: relative;
  width: calc(50% - 20px);
}
.feedback__form .form__group-tellus {
  width: 100%;
  margin: 66px 0 32px;
}
.feedback__form .form__group .label-text {
  position: absolute;
  top: 4px;
  left: 0;
  margin-bottom: 0;
}
.feedback__form .form__group .label-clip {
  position: absolute;
  top: 0;
  right: 5px;
  width: 9px;
  height: 18px;
  filter: grayscale(1);
  z-index: 2;
  cursor: pointer;
}
.feedback__form .form__group .label-clip:hover {
  filter: none;
}
.feedback__form .form__group .input-type-text {
  cursor: url("../../images/input-cursor.svg"), text;
  position: relative;
  background: transparent;
  border: none;
  border-bottom: 1px solid #BFBFBF;
  outline: none;
  padding: 4px 0 12px;
  z-index: 1;
  width: 100%;
}
.feedback__form .form__group .input-type-text:focus ~ .label-text, .feedback__form .form__group .input-type-text:not(:placeholder-shown) ~ .label-text {
  top: -20px;
  font-size: 12px;
}
.feedback__form .form__group .error {
  border-bottom-color: #FF4E32;
  position: relative;
}
.feedback__form .form__group .error-message {
  position: absolute;
  top: 110%;
  font-size: 12px;
  line-height: 16px;
  color: #FF4E32;
  user-select: none;
  opacity: 0;
}
.feedback__form .form__group .error ~ .error-message {
  opacity: 1;
}
.feedback__form .feedback-form-services {
  margin: 40px 0 24px;
}
.feedback__form .feedback-form-filename {
  position: absolute;
  top: 110%;
  right: 0;
  font-size: 14px;
  line-height: 19px;
  color: #999999;
}
.feedback__form #form-message {
  padding-right: 18px;
}
.feedback__form .service__item {
  margin: 0 7px 14px 0;
}
.feedback__form .service__item-label {
  font-size: 12px;
  line-height: 12px;
  padding: 12px 24px;
  background: rgba(42, 82, 255, 0.1);
  border-radius: 32px;
  margin-bottom: 0;
  user-select: none;
  cursor: pointer;
}
.feedback__form .service__item-label:hover {
  color: #FFFFFF;
  background: rgba(42, 82, 255, 0.5);
}
.feedback__form .service__item-label.active {
  color: #FFFFFF;
  background: #2A52FF;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 767px) {
  .feedback__form .form__group-tellus {
    margin-top: 30px;
  }
}
.social-link-img {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}
.social-link-img:hover {
  transform: scale(1.2);
}
.social-link-img:active {
  transition: all 0.05s linear;
  transform: scale(1.1);
}

.contacts__form .form__group {
  position: relative;
  margin-bottom: 16px;
}
.contacts__form .form__group .input-type-text {
  cursor: url("../../images/input-cursor.svg"), text;
  background: transparent;
  border: 1px solid #C7C8D2;
  border-radius: 8px;
  outline: none;
  padding: 11px 20px;
  width: 100%;
}
.contacts__form .form__group .input-type-text::placeholder {
  color: #C7C8D2;
}
.contacts__form .form__group .input-type-text:focus {
  border-color: #999999;
}
.contacts__form .form__group .input-type-text::-webkit-scrollbar {
  display: none;
}
.contacts__form .form__group .error {
  border-color: #FF4E32;
  position: relative;
}
.contacts__form .form__group .error-message {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #FF4E32;
  pointer-events: none;
  opacity: 0;
}
.contacts__form .form__group .error ~ .error-message {
  opacity: 1;
}
.contacts__form .form__group .label-clip {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 9px;
  height: 18px;
  filter: grayscale(1);
  z-index: 2;
  cursor: pointer;
}
.contacts__form .form__group .label-clip:hover {
  filter: none;
}
.contacts__form #form-message {
  height: 100px;
  resize: none;
  padding-right: 35px;
}
.contacts__form-services {
  margin: 40px 0 24px;
}
.contacts__form .feedback-form-filename {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  line-height: 19px;
  color: #999999;
}
.contacts__form .service__item {
  margin: 0 7px 20px 0;
}
.contacts__form .service__item-label {
  padding: 7px 20px;
  background: #E0E4F5;
  border-radius: 8px;
  margin-bottom: 0;
  user-select: none;
  cursor: pointer;
}
.contacts__form .service__item-label:hover {
  color: #FFFFFF;
  background: rgba(42, 82, 255, 0.5);
}
.contacts__form .service__item-label.active {
  color: #FFFFFF;
  background: #2A52FF;
  transition: all 0.2s ease-in-out;
}
.contacts__form-btn {
  margin-top: 36px;
}
.contacts__form .contact-form-success {
  top: 0;
  padding-top: 130px;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .contacts__form-services {
    margin-top: 20px;
  }
  .contacts__form-btn {
    margin-top: 18px;
  }
}
.image-modal-window .modal {
  padding: 0 !important;
  overflow-y: scroll;
  text-align: center;
}
.image-modal-window .modal.show {
  display: flex !important;
  display: -webkit-flex !important;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
.image-modal-window .modal-dialog {
  max-width: 1500px;
  background-color: transparent;
  margin: 0;
  max-height: 100%;
}
.image-modal-window .modal-dialog .modal-content {
  background-color: transparent;
  border: none !important;
  padding: 0;
}
.image-modal-window .modal-dialog .modal-content .align-modal-helper {
  padding: 15px !important;
  height: 100%;
}
.image-modal-window .modal-dialog .modal-content .slide-image, .image-modal-window .modal-dialog .modal-content .iframe-wrapper {
  max-height: 80vh;
  max-width: 100%;
  object-fit: contain;
  background-color: transparent;
}
.image-modal-window .modal-dialog .modal-content .slide-image {
  width: auto;
  height: auto;
  padding: 0;
}
.image-modal-window .modal-dialog .modal-content .iframe-wrapper {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}
.image-modal-window .modal-dialog .modal-content .iframe-wrapper:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.image-modal-window .modal-dialog .modal-content .iframe-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.image-modal-window .modal-dialog .modal-content .carousel-inner, .image-modal-window .modal-dialog .modal-content .carousel-item {
  background-color: transparent !important;
}
.image-modal-window .carousel-control-prev, .image-modal-window .carousel-control-next {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #1F1F1F;
  color: #FFFFFF;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  opacity: 0.75;
  transition: all 0.2s linear;
}
.image-modal-window .carousel-control-prev:hover, .image-modal-window .carousel-control-next:hover {
  opacity: 1;
  transition: all 0.2s linear;
}
.image-modal-window .carousel-control-prev {
  margin-left: 10px;
}
.image-modal-window .carousel-control-next {
  margin-right: 10px;
}
.image-modal-window .modal-cross {
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #1F1F1F;
  opacity: 0.75;
  padding: 0;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}
.image-modal-window .modal-cross img {
  width: 20px !important;
  height: 20px !important;
}
.image-modal-window .modal-cross:hover {
  opacity: 1;
}
.image-modal-window .modal-cross:focus {
  outline: none;
}

.modal-backdrop {
  opacity: 0.8 !important;
}

@media screen and (max-width: 1200px) {
  .image-modal-window .modal {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media screen and (max-width: 1024px) {
  .image-modal-window .modal {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .image-modal-window .align-modal-helper {
    padding: 0 !important;
  }
}
@media screen and (max-width: 767px) {
  .image-modal-window .modal {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .image-modal-window .carousel-control-prev, .image-modal-window .carousel-control-next {
    opacity: 0.75;
  }
  .image-modal-window .carousel-control-prev:hover, .image-modal-window .carousel-control-next:hover {
    opacity: 0.75;
  }
  .image-modal-window .carousel-control-prev:focus, .image-modal-window .carousel-control-next:focus {
    opacity: 0.75;
  }
  .image-modal-window .modal-cross {
    opacity: 1;
  }
  .image-modal-window .modal-cross:hover {
    opacity: 1;
  }
  .image-modal-window .modal-cross:focus {
    opacity: 1;
  }
}
.homepage .hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(../../images/BG.svg) 0 0/cover no-repeat;
  padding-top: 100px;
  padding-bottom: 32px;
  margin-bottom: 58px;
}
.homepage .hero__content {
  margin: auto;
  width: 100%;
}
.homepage .hero__content-left {
  width: 45%;
}
.homepage .hero__content-right {
  width: calc(55% - 30px);
}
.homepage .hero__content-right .img-wrapper {
  position: relative;
}
.homepage .hero__content-right .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 75%;
}
.homepage .hero__content .main-title {
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -0.01em;
}
.homepage .hero__content .main-title span {
  color: #2A52FF;
  font-family: FontBold;
}
.homepage .hero__content .main-subtitle {
  color: #1F1F1F;
  margin: 32px 0;
  max-width: 450px;
}
.homepage .hero #hero__scroll > img {
  margin-bottom: 1px;
}
.homepage .hero #hero__scroll > .scroll-dot {
  width: 5px;
  height: 5px;
  background: #262626;
  opacity: 0.1;
  border-radius: 5px;
  margin: 6px auto;
  animation: blinking 1.5s infinite ease-in-out alternate;
}
.homepage .hero #hero__scroll > .scroll-dot:nth-child(3) {
  animation-delay: 0.5s;
}
.homepage .hero #hero__scroll > .scroll-dot:nth-child(4) {
  animation-delay: 1s;
}

@media screen and (max-width: 1200px) {
  .homepage .hero__content .main-title {
    font-size: 54px;
    line-height: 62px;
  }
}
@media screen and (max-width: 1088px) {
  .homepage .hero__content .main-title {
    font-size: 48px;
    line-height: 56px;
  }
}
@media screen and (max-width: 1024px) {
  .homepage .hero {
    min-height: 500px;
  }
}
@media screen and (max-width: 1014px) {
  .homepage .hero__content .main-title {
    font-size: 44px;
    line-height: 52px;
  }
}
@media screen and (max-width: 932px) {
  .homepage .hero__content .main-title {
    font-size: 42px;
    line-height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .homepage .hero__content {
    flex-direction: column;
  }
  .homepage .hero__content-left {
    order: 1;
    width: 80%;
    text-align: center;
    margin-top: 32px;
  }
  .homepage .hero__content-left .main-subtitle {
    max-width: none;
    margin: 40px 0 50px;
  }
  .homepage .hero__content-right {
    width: 80%;
  }
  .homepage .hero__scroll {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .homepage .hero__content-left, .homepage .hero__content-right {
    width: 100%;
  }
}
.homepage .whatwedo {
  padding-bottom: 130px;
}
.homepage .whatwedo__tabs {
  position: relative;
  gap: 37px;
  margin-top: 64px;
  white-space: nowrap;
}
.homepage .whatwedo__tabs::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #D9D9D9;
}
.homepage .whatwedo > div.overflow-auto::-webkit-scrollbar {
  display: none;
}
.homepage .whatwedo__tab {
  color: #999999;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  padding-bottom: 16px;
}
.homepage .whatwedo__tab::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #2A52FF;
}
.homepage .whatwedo__tab::after {
  opacity: 0;
  width: 0;
  left: 50%;
}
.homepage .whatwedo__tab.active, .homepage .whatwedo__tab:hover {
  color: #1F1F1F;
}
.homepage .whatwedo__tab.active::after, .homepage .whatwedo__tab:hover::after {
  opacity: 1;
  width: 100%;
  left: 0;
}
.homepage .whatwedo__tab.active {
  pointer-events: none;
}
.homepage .whatwedo__content {
  margin-top: 48px;
}
.homepage .whatwedo__content-item {
  display: none;
  justify-content: space-between;
}
.homepage .whatwedo__content-item.active {
  display: flex;
}
.homepage .whatwedo__content-col1 {
  width: 34%;
}
.homepage .whatwedo__content-title {
  margin-bottom: 32px;
}
.homepage .whatwedo__content-col2 {
  width: 51%;
}
.homepage .whatwedo__content-col2 .img-wrapper {
  position: relative;
  height: 100%;
}
.homepage .whatwedo__content-col2 .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 61.6%;
}
.homepage .whatwedo__content-2images {
  display: flex;
  gap: 24px;
}
.homepage .whatwedo__content-2images .img-wrapper {
  position: relative;
  width: calc(50% - 12px);
}
.homepage .whatwedo__content-2images .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 128%;
}
.homepage .whatwedo__content-3images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}
.homepage .whatwedo__content-3images .img-wrapper {
  position: relative;
}
.homepage .whatwedo__content-3images .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 60%;
}
.homepage .whatwedo__content-3images .img-wrapper:first-child {
  grid-column: 1;
  grid-row: 1;
}
.homepage .whatwedo__content-3images .img-wrapper:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.homepage .whatwedo__content-3images .img-wrapper:nth-child(3) {
  grid-column: 2;
  grid-row: 1/3;
  position: relative;
}
.homepage .whatwedo__content-3images .img-wrapper:nth-child(3)::before {
  content: "";
  display: block;
  padding-top: 128%;
}
.homepage .whatwedo__btn {
  margin-top: 64px;
}

@media screen and (max-width: 1024px) {
  .homepage .whatwedo__content-col1,
  .homepage .whatwedo__content-col2 {
    width: calc((100% - 40px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .homepage .whatwedo {
    padding-bottom: 60px;
  }
  .homepage .whatwedo__content-item.active {
    display: block;
  }
  .homepage .whatwedo__content-col1, .homepage .whatwedo__content-col2 {
    width: 100%;
  }
  .homepage .whatwedo__content-text {
    margin-bottom: 22px;
  }
  .homepage .whatwedo__btn {
    margin-top: 32px;
  }
}
.homepage .portfolio-slider {
  padding-bottom: 130px;
  overflow: hidden;
}
.homepage .portfolio-slider__link {
  color: #1F1F1F;
  text-decoration: underline;
  white-space: nowrap;
}
.homepage .portfolio-slider__link::after {
  content: url(../../images/Arrow-outward-blue.svg);
  margin-left: 8px;
  filter: grayscale(1);
}
.homepage .portfolio-slider__link:hover {
  color: #2A52FF;
  text-decoration: underline;
}
.homepage .portfolio-slider__link:hover::after {
  filter: none;
}
.homepage .portfolio-slider .brinpl-slider__slides {
  margin: 64px 0;
}
.homepage .portfolio-slider .brinpl-slider__slides-item:hover h5 {
  color: #2A52FF;
  opacity: 1;
}
.homepage .portfolio-slider .brinpl-slider__slides-item .img-wrapper {
  position: relative;
}
.homepage .portfolio-slider .brinpl-slider__slides-item .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 73%;
}
.homepage .portfolio-slider .brinpl-slider__slides-item h5 {
  color: #000000;
  opacity: 0.4;
  margin-top: 16px;
}
.homepage .portfolio-slider .brinpl-slider__slides .slick-slide {
  margin: 0 14px;
}

@media screen and (max-width: 767px) {
  .homepage .portfolio-slider {
    padding-bottom: 60px;
  }
  .homepage .portfolio-slider .brinpl-slider__slides {
    margin: 32px 0;
  }
}
.homepage .main-about {
  padding-bottom: 130px;
}
.homepage .main-about .text-img__col1-inner > .text-img-text, .homepage .main-about__btn {
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .homepage .main-about {
    padding-bottom: 60px;
  }
  .homepage .main-about .text-img {
    flex-direction: column-reverse;
  }
}
.homepage .all-services__tab {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 24px 27px;
  grid-auto-flow: dense;
}
.homepage .all-services__tab.active {
  display: grid;
}
.homepage .all-services__tab-item {
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 67.55%, rgba(0, 0, 0, 0.72) 100%);
  border-radius: 2px;
}
.homepage .all-services__tab-item::before {
  content: "";
  display: block;
  padding-top: 63%;
}
.homepage .all-services__tab-item:nth-child(3n+1) {
  grid-row: span 2;
  position: relative;
}
.homepage .all-services__tab-item:nth-child(3n+1)::before {
  content: "";
  display: block;
  padding-top: 134%;
}
.homepage .all-services__tab-item:nth-child(6n+2), .homepage .all-services__tab-item:nth-child(6n+3) {
  grid-column: 2;
}
.homepage .all-services__tab-item-title {
  position: absolute;
  bottom: 6px;
  left: 16px;
  right: 16px;
  line-height: 26px;
  color: #FFFFFF;
  pointer-events: none;
}
.homepage .all-services__tab-item img {
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .homepage .all-services__tab {
    gap: 12px 14px;
  }
}
@media screen and (max-width: 767px) {
  .homepage .all-services__tab {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 389px) {
  .homepage .all-services__tab-item {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.72) 100%);
  }
  .homepage .all-services__tab-item-title {
    font-size: 18px;
    line-height: 22px;
  }
}
.about-page .strategy {
  margin-top: 177px;
}
.about-page .strategy__line {
  position: relative;
  top: 21px;
  left: 21px;
  width: 0;
  height: 3px;
  background: #AFBEFF;
  margin-top: 80px;
  transition: all 2s linear;
}
.about-page .strategy__line.fly {
  width: calc(100% - 91px);
}
.about-page .strategy__line::after {
  content: url("../../images/strategy-rocket.svg");
  position: absolute;
  right: -85px;
  top: -45px;
}
.about-page .strategy__items {
  gap: 20px;
}
.about-page .strategy__item {
  z-index: 1;
  max-width: 318px;
  opacity: 0;
}
.about-page .strategy__item-num {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 20px;
  border: 3px solid #AFBEFF;
  border-radius: 20px;
  background: #FAFAFA;
}
.about-page .strategy__item-title {
  font-size: 20px;
  line-height: 28px;
  margin: 40px 0 0;
}
.about-page .strategy__item-text {
  margin: 6px 0 0;
}
.about-page .strategy__item.fly {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .about-page .strategy {
    margin-top: 80px;
  }
  .about-page .strategy__line {
    left: 0;
    margin-top: 20px;
  }
  .about-page .strategy__line.fly {
    width: calc(100% - 70px);
  }
  .about-page .strategy__items {
    flex-direction: column;
    margin-top: 60px;
  }
  .about-page .strategy__item {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 40px auto;
    max-width: none;
  }
  .about-page .strategy__item-num {
    grid-row: span 2;
    margin: auto 0;
  }
  .about-page .strategy__item-title {
    margin-top: 0;
  }
}
.about-page .reviews {
  margin: 180px auto 140px;
  overflow: hidden;
}
.about-page .reviews .brinpl-slider__slides {
  margin: 56px 0;
}
.about-page .reviews .brinpl-slider__slides .slick-slide {
  margin: 0 12px;
}
.about-page .reviews .brinpl-slider__slides .slick-slide > div {
  height: 100%;
}
.about-page .reviews__item {
  padding: 43px;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  border-radius: 4px;
  height: 100%;
}
.about-page .reviews__item-status {
  color: #999999;
}
.about-page .reviews__item .img-wrapper {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  overflow: hidden;
  margin-bottom: 16px;
}
.about-page .reviews__item .img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .about-page .reviews {
    margin: 60px auto;
  }
}
.services-page .services__content .text-img {
  margin: 200px auto;
}
.services-page .services__content .text-img:first-child {
  margin-top: 100px;
}
.services-page .services__content .text-img:nth-child(even) .text-img__col1 {
  order: 2;
  padding-right: 60px;
}
.services-page .services__content .text-img:nth-child(even) .text-img__col1-inner {
  margin-left: auto;
}
.services-page .services__content .text-img:nth-child(even) .text-img__col2 {
  order: 1;
}
.services-page .services__content .text-img:nth-child(even) .text-img__col2-inner {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .services-page .services__content .text-img {
    margin: 50px auto;
  }
  .services-page .services__content .text-img__col1 {
    margin-bottom: 50px;
  }
  .services-page .services__content .text-img:first-child {
    margin-top: 50px;
  }
  .services-page .services__content .text-img:nth-child(even) .text-img__col1 {
    order: 0;
    padding-right: 0;
  }
  .services-page .services__content .text-img:nth-child(even) .text-img__col2 {
    order: 0;
  }
}
.about-page .about__first {
  margin-top: 120px;
}
.about-page .about__first .text-img__col1-inner {
  max-width: 525px;
}
.about-page .things {
  margin-top: 140px;
}
.about-page .things__content {
  margin-bottom: 80px;
}
.about-page .things__content-item {
  width: calc(50% - 87.5px);
  margin-top: 60px;
}
.about-page .things__content-item-heading {
  gap: 16px;
}
.about-page .things__content-item-heading .img-wrapper {
  position: relative;
  width: 64px;
  height: 64px;
}
.about-page .things__content-item-text {
  margin: 26px 0 0;
}

@media screen and (max-width: 1366px) {
  .about-page .things__content-item {
    width: calc(50% - 30px);
  }
}
@media screen and (max-width: 1023px) {
  .about-page .reviews__item {
    padding: 30px;
  }
}
@media screen and (max-width: 767px) {
  .about-page .about__first {
    margin-top: 60px;
  }
  .about-page .about__first .text-img__col2 {
    margin-top: 40px;
  }
  .about-page .things {
    margin-top: 30px;
  }
  .about-page .things__content-item {
    margin-top: 30px;
  }
  .about-page .things__content-item-text {
    margin-top: 10px;
  }
}
@media screen and (max-width: 559px) {
  .about-page .things__content {
    flex-direction: column;
  }
  .about-page .things__content-item {
    width: 100%;
  }
}
.portfolio-page__list {
  margin-top: 80px;
  margin-bottom: 140px;
  gap: 52px 24px;
}
.portfolio-page__list-item {
  width: calc(33.333% - 16px);
}
.portfolio-page__list-item:hover h3 {
  color: #2A52FF;
}
.portfolio-page__list-item .img-wrapper {
  position: relative;
  border-radius: 10px;
}
.portfolio-page__list-item .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 90%;
}
.portfolio-page__list-item-title {
  margin-top: 24px;
}

@media screen and (max-width: 1024px) {
  .portfolio-title {
    font-size: 28px;
    line-height: 34px;
    margin-top: 12px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-page__list-item {
    width: calc(50% - 12px);
  }
  .portfolio-page__list {
    gap: 26px 24px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 479px) {
  .portfolio-page__list-item {
    width: 100%;
  }
}
.portfolio-single__content {
  padding-top: 212px;
  padding-bottom: 130px;
}
.portfolio-single__content-col1 {
  margin-right: 40px;
}
.portfolio-single__content-col2 {
  width: calc(75% - 90px);
  border-radius: 10px;
  overflow: hidden;
}
.portfolio-single__content-col2 img {
  width: 100%;
}
.portfolio-single__content-col3 {
  width: calc(30% - 80px);
  margin-left: auto;
}
.portfolio-single__content-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background: #F0F1F8;
  border-radius: 10px;
  margin-bottom: 12px;
}
.portfolio-single__content-nav:hover {
  filter: brightness(0.9);
}
.portfolio-single__content-nav:active {
  transition: none;
  filter: brightness(0.8);
}
.portfolio-single__content-nav.portfolio-close:hover img {
  transform: rotate(-360deg);
}
.portfolio-single__content-nav.portfolio-prev {
  transform: scale(-1);
}
.portfolio-single__content-descr {
  background: #F0F1F8;
  border-radius: 10px;
  padding: 32px 20px 52px;
}
.portfolio-single__content-descr-title {
  margin-bottom: 16px;
}
.portfolio-single__content-descr-text {
  font-size: 12px;
  line-height: 16px;
  color: #85869E;
  margin-bottom: 40px;
}
.portfolio-single__carousel {
  margin-bottom: 140px;
  overflow: hidden;
}
.portfolio-single__carousel-slides .slick-slide {
  margin: 64px 12px;
}
.portfolio-single__carousel .img-wrapper {
  position: relative;
  border-radius: 10px;
}
.portfolio-single__carousel .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 89%;
}
.portfolio-single .portfolio-carousel__buttons {
  margin-top: 30px;
}
.portfolio-single .portfolio-carousel__prev, .portfolio-single .portfolio-carousel__next {
  border: none;
  margin: 0 12px;
}
.portfolio-single .slick-list::after {
  content: none;
}

.no-image {
  width: 50%;
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .portfolio-single__content {
    padding-top: 100px;
    padding-bottom: 40px;
    flex-wrap: wrap;
  }
  .portfolio-single__content-col1 {
    margin-right: 10px;
  }
  .portfolio-single__content-col2 {
    width: 100%;
    order: 1;
    margin-top: 40px;
  }
  .portfolio-single__content-col3 {
    width: calc(100% - 52px);
  }
  .portfolio-single__content-descr {
    padding: 20px;
  }
  .portfolio-single__carousel {
    margin-bottom: 60px;
  }
  .portfolio-single__carousel-slides .slick-slide {
    margin: 24px 12px;
  }
}
.contacts-page {
  padding-top: 148px;
  padding-bottom: 142px;
  gap: 20px;
}
.contacts-page__title {
  font-size: 62px;
  line-height: 78px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2A52FF;
  padding: 24px 0 64px;
}
.contacts-page__contacts {
  gap: 16px;
  margin-bottom: 100px;
}
.contacts-page__contacts-item, .contacts-page__contacts-item-link {
  margin-bottom: 12px;
}
.contacts-page__contacts-item:last-child, .contacts-page__contacts-item-link:last-child {
  margin-bottom: 0;
}
.contacts-page__contacts-item {
  color: #C7C8D2;
}
.contacts-page__contacts-item-link {
  color: #1F1F1F;
}
.contacts-page__socials {
  margin-top: 24px;
}
.contacts-page__socials a {
  margin-right: 12px;
}
.contacts-page__col2 {
  width: calc(60% - 32px);
  padding: 60px 80px 80px;
  background: #F0F1F8;
  border-radius: 10px;
}
.contacts-page__col2 .tab-title {
  text-transform: uppercase;
  margin-bottom: 40px;
}

@media screen and (max-width: 1023px) {
  .contacts-page__title {
    font-size: 50px;
    line-height: 68px;
  }
  .contacts-page__col2 {
    padding: 40px 40px;
  }
}
@media screen and (max-width: 767px) {
  .contacts-page {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .contacts-page__col1 {
    text-align: center;
  }
  .contacts-page__col2 {
    width: 100%;
    margin-top: 20px;
    padding: 40px 20px;
  }
  .contacts-page__col2 .tab-title {
    text-align: center;
  }
  .contacts-page__contacts {
    justify-content: center;
    margin-bottom: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
