@font-face {
  font-family: "FontMedium";
  src: url("../../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "FontHeavy";
  src: url("../../fonts/AvenirNextCyr-Heavy.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "FontBold";
  src: url("../../fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "FontDemi";
  src: url("../../fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-display: block;
}
@keyframes plane-btn {
  0% {
    left: 30px;
    top: 16px;
    opacity: 1;
    transform: scale(1);
  }
  50% {
    left: 50px;
    top: 0;
    opacity: 0;
    transform: scale(0.1);
  }
  51% {
    left: 10px;
    top: 40px;
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    left: 30px;
    top: 16px;
    opacity: 1;
    transform: scale(1);
  }
}
* {
  font-family: "FontDemi";
  color: #303041;
}

body {
  background-color: #FAFAFA;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}
body::-webkit-scrollbar-thumb {
  background-color: #F0F1F8;
  border-radius: 50px;
  border: 2px solid #FFFFFF;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #AFBEFF;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.filler {
  min-height: calc(100vh - 94px);
}

.font-medium {
  font-family: "FontMedium";
}

.font-bold {
  font-family: "FontBold";
}

.font-heavy {
  font-family: "FontHeavy";
}

.heavy-title {
  font-size: 56px;
  line-height: 76px;
  color: #303041;
}

.section-title {
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.portfolio-title {
  font-size: 32px;
  line-height: 39px;
}

.popup-title {
  font-size: 30px;
  line-height: 45px;
}

.key-title {
  font-size: 24px;
  line-height: 30px;
}

.strategy-text {
  font-size: 20px;
  line-height: 28px;
}

.tab-title {
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.contacts-text {
  font-size: 18px;
  line-height: 27px;
}

.small-title {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}

.input-text {
  font-size: 14px;
  line-height: 22px;
}

.absolute-cover-img,
.darkness-effect {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.darkness-effect {
  background-color: rgba(42, 82, 255, 0.7);
}

.img-hover:hover img {
  transform: scale(1.3) rotate(-10deg);
}

.img-shadow {
  box-shadow: 2px 6px 30px 1px rgba(225, 227, 236, 0.75);
  border-radius: 6px;
}

.default-btn {
  color: #FFFFFF;
  position: relative;
  z-index: 0;
  background: #597EFF;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 18px 32px;
  border: none;
}
.default-btn:hover {
  color: #FFFFFF;
}

.default-btn-icon {
  color: #FFFFFF;
  position: relative;
  z-index: 0;
  background: #597EFF;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 16px 28px 16px 60px;
}
.default-btn-icon:hover {
  color: #FFFFFF;
}
.default-btn-icon > img {
  position: absolute;
  left: 30px;
  top: 16px;
  width: 18px;
  height: 18px;
}
.default-btn-icon:hover > img {
  animation: plane-btn 1s linear;
}

.slick-list {
  margin: -30px -20px;
  padding: 30px 10px;
}
.slick-list::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 10px 10px #FAFAFA;
  pointer-events: none;
}
.slick-track {
  display: flex;
}
.slick-slide {
  height: auto;
}

.brinpl-slider__next, .brinpl-slider__prev {
  color: #FFFFFF;
  position: relative;
  z-index: 0;
  background: #597EFF;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  margin: 0 4px;
}
.brinpl-slider__next:hover, .brinpl-slider__prev:hover {
  color: #FFFFFF;
}
.brinpl-slider__next:focus, .brinpl-slider__prev:focus {
  outline: none;
}
.brinpl-slider__next img {
  transform: scale(-1);
}

.slick-hidden {
  display: none !important;
}

.transition-default {
  transition: all 0.4s ease-in-out;
}
.transition-default:hover {
  transition: all 0.4s ease-in-out;
}
.transition-default::before, .transition-default::after {
  transition: all 0.4s ease-in-out;
}
.transition-default::before:hover, .transition-default::after:hover {
  transition: all 0.4s ease-in-out;
}

.wysiwyg-styles > img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 24px;
}
.wysiwyg-styles > p {
  font-family: "FontMedium";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.wysiwyg-styles > p a {
  color: #597EFF;
}
.wysiwyg-styles > p a:hover {
  color: #303041;
}
.wysiwyg-styles > p img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}
.wysiwyg-styles > p .alignleft,
.wysiwyg-styles > p .alignright {
  max-width: 50% !important;
  max-height: 500px !important;
  height: auto !important;
  object-fit: cover !important;
}
.wysiwyg-styles > p .alignleft {
  float: left;
  margin: 0 30px 30px 0;
}
.wysiwyg-styles > p .alignright {
  float: right;
  margin: 0 0 30px 30px;
}
.wysiwyg-styles > ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
.wysiwyg-styles > ul li {
  display: table;
  background-repeat: no-repeat;
  background-image: url("../../images/dot.svg");
  background-size: 12px 12px;
  background-position: 0 6px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 24px;
}
.wysiwyg-styles > ul li a {
  color: #597EFF;
}
.wysiwyg-styles > ul li a:hover {
  color: #303041;
}
.wysiwyg-styles > h2 {
  font-family: FontBold;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 24px;
  color: #303041;
}
.wysiwyg-styles > *:last-child {
  margin-bottom: 0 !important;
}

.video-wysiwyg {
  position: relative;
  overflow: hidden;
  margin: 0 0 30px;
}
.video-wysiwyg:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.video-wysiwyg iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wysiwyg-gallery {
  margin: 0 0 15px;
}
.wysiwyg-gallery .single-gallery-element {
  width: calc((100% - 30px) / 3.001);
  margin: 0 15px 15px 0;
}
.wysiwyg-gallery .single-gallery-element:nth-of-type(3n), .wysiwyg-gallery .single-gallery-element:nth-last-of-type(1) {
  margin: 0 0 15px;
}
.wysiwyg-gallery .single-gallery-element:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.wysiwyg-gallery .single-gallery-element .gallery-image {
  transform: perspective(1000px);
  -webkit-transform: perspective(1000px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}
.wysiwyg-gallery .single-gallery-element .additional-number {
  font-size: 30px;
  right: 15px;
  bottom: 15px;
  color: #FFFFFF;
}
.wysiwyg-gallery .single-gallery-element:hover .gallery-image {
  transform: scale(1.05) perspective(1000px);
  -webkit-transform: scale(1.05) perspective(1000px);
}

a {
  transition: all 0.4s ease-in-out;
}
a:hover {
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:before, a:after {
  transition: all 0.4s ease-in-out;
}

input,
textarea,
button {
  transition: all 0.4s ease-in-out;
}
input:hover,
textarea:hover,
button:hover {
  transition: all 0.4s ease-in-out;
}
input:focus,
textarea:focus,
button:focus {
  transition: all 0.4s ease-in-out;
  outline: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
button::-webkit-input-placeholder {
  transition: all 0.4s ease-in-out;
}
input::-moz-placeholder,
textarea::-moz-placeholder,
button::-moz-placeholder {
  transition: all 0.4s ease-in-out;
}
input:-moz-placeholder,
textarea:-moz-placeholder,
button:-moz-placeholder {
  transition: all 0.4s ease-in-out;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
button:-ms-input-placeholder {
  transition: all 0.4s ease-in-out;
}

.preloader {
  width: 80px;
  height: 15px;
  left: calc(90% - 45px);
  top: calc(50% - 7.5px);
  transition: all 0.1s linear;
  visibility: hidden;
  opacity: 0;
}
.preloader div {
  background-color: #597EFF;
  position: absolute;
  top: 1px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.preloader div:nth-child(1) {
  left: 8px;
  animation: preloader-animation-1 0.6s infinite;
}
.preloader div:nth-child(2) {
  left: 8px;
  animation: preloader-animation-2 0.6s infinite;
}
.preloader div:nth-child(3) {
  left: 32px;
  animation: preloader-animation-2 0.6s infinite;
}
.preloader div:nth-child(4) {
  left: 56px;
  animation: preloader-animation-3 0.6s infinite;
}

.preloader-visible {
  visibility: visible;
  opacity: 1;
}

@keyframes preloader-animation-1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes preloader-animation-3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes preloader-animation-2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.preloader-circle {
  display: none;
  max-width: 30px;
  max-height: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(100% + 10px);
  -webkit-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}

.contact-form-success {
  inset: 0;
  top: -20px;
  background: #F0F1F8;
  z-index: -1;
  opacity: 0;
}
.contact-form-success.active {
  opacity: 1;
  z-index: 5;
}

.not-set-img img {
  object-fit: contain;
  padding: 20px;
}

.input-type-text {
  cursor: url("../../images/input-cursor.svg"), text;
  background: #F0F1F8;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  padding: 11px 20px;
  width: 100%;
}
.input-type-text::placeholder {
  color: #C7C8D2;
}
.input-type-text:focus {
  border-color: #597EFF;
  background: transparent;
}
.input-type-text::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1185px) {
  .heavy-title {
    font-size: 46px;
    line-height: 66px;
  }
}
@media screen and (max-width: 1024px) {
  .contacts-text {
    font-size: 16px;
    line-height: 24px;
  }
  .section-title {
    font-size: 32px;
    line-height: 38px;
  }
  .wysiwyg-styles > p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 979px) {
  .heavy-title {
    font-size: 35px;
    line-height: 55px;
  }
}
@media screen and (max-width: 767px) {
  .heavy-title {
    font-size: 40px;
    line-height: 48px;
  }
  .section-title {
    font-size: 26px;
    line-height: 36px;
  }
  .slick-list {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .slick-list::after {
    display: none;
  }
  .slick-list .img-hover:hover img {
    transform: none;
  }
}
@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed !important;
  }
}
@media screen and (max-width: 480px) {
  .section-title {
    font-size: 26px;
    line-height: 32px;
  }
}
.header {
  padding: 27px 0;
  z-index: 1020;
  transition: all 0.4s linear;
}
.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #FAFAFA;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s linear;
}
.header-scrolled {
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}
.header-scrolled::after {
  opacity: 0.9;
}
.header .logo-wrapper {
  max-width: 180px;
  max-height: 40px;
}
.header .logo-wrapper img {
  width: 400%;
  height: 400%;
  max-width: 720px;
  max-height: 160px;
  transform: scale(0.25);
  transform-origin: 0 0;
  object-fit: contain;
}
.header .nav-menu > ul {
  display: flex;
  gap: 40px;
  margin: 0;
}
.header .nav-menu > ul > li {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
}
.header .nav-menu > ul > li > a {
  color: #303041;
  position: relative;
}
.header .nav-menu > ul > li > a:hover {
  color: #597EFF;
}
.header .nav-menu > ul > li > a:hover:after {
  width: 100%;
  opacity: 1;
}
.header .nav-menu > ul > li > a:after {
  content: "";
  position: absolute;
  background-color: #597EFF;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  margin: 5px 0 0;
  opacity: 0;
  backface-visibility: hidden;
}
.header .nav-menu > ul > li.current_page_item > a {
  color: #597EFF;
}
.header .nav-menu > ul > li.current_page_item > a:after {
  content: "";
  position: absolute;
  background-color: #597EFF;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: 5px 0 0;
  opacity: 1;
  backface-visibility: hidden;
}
.header .nav-menu__social {
  display: none;
}
.header .burger {
  display: none;
}

@media screen and (max-width: 932px) {
  .header .nav-menu > ul {
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .header .logo-wrapper {
    z-index: 5;
  }
  .header .nav-menu {
    position: absolute;
    inset: 0;
    left: 100vw;
    min-height: 100vh;
    background: #FAFAFA;
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
  }
  .header .nav-menu > ul {
    display: block;
    padding-left: 0;
    overflow: auto;
  }
  .header .nav-menu > ul > li {
    display: block;
    text-align: center;
    padding: 3vh 0;
    font-size: 28px;
    line-height: 34px;
  }
  .header .nav-menu > ul > li > a:after {
    content: none;
  }
  .header .nav-menu > ul > li.current_page_item > a:after {
    content: none;
  }
  .header .nav-menu.active {
    left: 0;
    opacity: 1;
  }
  .header .nav-menu__social {
    display: block;
    text-align: center;
    margin-top: 50px;
  }
  .header .nav-menu__social-title {
    color: #85869E;
    margin-bottom: 12px;
  }
  .header .nav-menu__social-title:not(:first-child) {
    margin-top: 40px;
  }
  .header .nav-menu__social .social-link-img {
    width: 40px;
    height: 40px;
  }
  .header .nav-menu__social .social-link-img:not(:last-child) {
    margin-right: 16px;
  }
  .header .nav-menu__social-email {
    color: #303041;
  }
  .header .burger {
    display: block;
    height: 21px;
    margin-right: 10px;
    z-index: 5;
  }
  .header .burger .burger-line {
    width: 30px;
    height: 3px;
    background: #303041;
    position: relative;
    top: 9px;
  }
  .header .burger .burger-line::before, .header .burger .burger-line::after {
    content: "";
    height: 3px;
    left: 0;
    right: 0;
    background: #303041;
    position: absolute;
  }
  .header .burger .burger-line::before {
    top: -9px;
  }
  .header .burger .burger-line::after {
    top: 9px;
  }
  .header .burger.active .burger-line {
    transform: rotate(135deg);
  }
  .header .burger.active .burger-line::before {
    top: 0;
    opacity: 0;
  }
  .header .burger.active .burger-line::after {
    top: 0;
    transform: rotate(90deg);
  }
}
.lets-talk {
  background: #F0F1F8;
  padding: 80px 0 72px;
}
.lets-talk__title {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 66px;
  color: #597EFF;
  margin-bottom: 72px;
}
.lets-talk__col1 {
  width: 50%;
}
.lets-talk__col2 {
  width: calc(50% - 211px);
}
.lets-talk__col2 .brinpl-social {
  margin-top: 48px;
}
.lets-talk__contacts-title {
  letter-spacing: 0.01em;
  color: #C7C8D2;
  margin-bottom: 24px;
}
.lets-talk__contacts-email, .lets-talk__contacts-phone {
  display: block;
  color: #303041;
  width: fit-content;
}
.lets-talk__contacts-email:hover, .lets-talk__contacts-phone:hover {
  color: #597EFF;
}
.lets-talk__contacts-email {
  text-decoration: underline;
  margin-bottom: 14px;
}
.lets-talk__contacts-email:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1150px) {
  .lets-talk__col2 {
    width: calc(50% - 50px);
  }
}
@media screen and (max-width: 767px) {
  .lets-talk {
    padding: 60px 0 30px;
  }
  .lets-talk__title {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 48px;
  }
  .lets-talk__content {
    flex-direction: column;
  }
  .lets-talk__col1, .lets-talk__col2 {
    width: 100%;
  }
  .lets-talk__col2 {
    margin-top: 50px;
    text-align: center;
  }
  .lets-talk__col2 .small-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
  }
  .lets-talk__col2 .brinpl-social {
    justify-content: center;
  }
  .lets-talk__contacts-email, .lets-talk__contacts-phone {
    font-size: 18px;
    line-height: 27px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer {
  background: #F0F1F8;
}
.footer > div {
  height: 94px;
}
.footer .copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.footer .copyright span {
  opacity: 0.6;
}
.footer .privacy-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #303041;
}
.footer .privacy-link:hover {
  color: #597EFF;
}

@media screen and (max-width: 359px) {
  .footer .copyright {
    max-width: 130px;
  }
}
.page__heading {
  text-align: center;
}
.page__heading > img {
  z-index: -1;
}
.page__title {
  font-size: 60px;
  line-height: 74px;
  text-transform: uppercase;
  color: #597EFF;
  padding: 180px 0 80px;
}

@media screen and (max-width: 767px) {
  .page__title {
    font-size: 40px;
    line-height: 48px;
    padding: 120px 0 60px;
  }
}
.brinpl-social {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%;
  row-gap: 12px;
}
.brinpl-social a {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #303041;
}
.brinpl-social a:hover {
  color: #597EFF;
}

@media screen and (max-width: 767px) {
  .brinpl-social {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
}
@media screen and (max-width: 400px) {
  .brinpl-social {
    grid-template-columns: repeat(2, auto);
  }
}
.text-img__col1-inner {
  max-width: 530px;
}
.text-img__col2-inner {
  max-width: 660px;
  height: 100%;
  margin-left: auto;
}
.text-img__col2-inner .img-wrapper {
  border-radius: 6px;
}
.text-img-text {
  margin: 28px 0 0;
}
.text-img__btn {
  margin-top: 40px;
}
.text-img .content-column {
  width: calc(50% - 12px);
}

@media screen and (max-width: 767px) {
  .text-img {
    text-align: center;
    flex-direction: column;
  }
  .text-img__col2 {
    margin-bottom: 30px;
  }
  .text-img__col1-inner, .text-img__col2-inner {
    max-width: 100%;
  }
  .text-img__col1-inner .img-wrapper, .text-img__col2-inner .img-wrapper {
    position: relative;
  }
  .text-img__col1-inner .img-wrapper::before, .text-img__col2-inner .img-wrapper::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .text-img .content-column {
    width: 100%;
  }
}
.feedback {
  background: #ECF0FF;
}
.feedback__col1 {
  width: 50%;
}
.feedback__col1 .img-wrapper {
  position: relative;
  margin: 62px 0;
  border-radius: 10px;
  overflow: hidden;
}
.feedback__col1 .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 70%;
}
.feedback__col2 {
  max-width: calc(50% - 100px);
  margin: 0 auto;
}
.feedback__col2 .brinpl-social {
  margin-top: 80px;
}
.feedback__title {
  margin-top: 60px;
}
.feedback__title span {
  color: #597EFF;
  font-family: FontBold;
}
.feedback__subtitle {
  margin: 12px 0 0;
  font-weight: 500;
}
.feedback__btn {
  margin-top: 40px;
}
.feedback__socials-title {
  margin: 80px 0 16px;
}

@media screen and (max-width: 767px) {
  .feedback > div {
    flex-direction: column-reverse;
    text-align: center;
  }
  .feedback__col1, .feedback__col2 {
    width: 100%;
    max-width: 100%;
  }
  .feedback__col1 .img-wrapper {
    margin: 30px 0;
  }
  .feedback__col2 .brinpl-social {
    justify-content: center;
    margin-top: 50px;
  }
  .feedback__title {
    margin-bottom: 20px;
  }
  .feedback__subtitle {
    margin-bottom: 24px;
  }
  .feedback__btn {
    margin-top: 0;
  }
  .feedback__socials-title {
    margin-top: 40px;
  }
}
.feedback__form .form__group {
  position: relative;
  width: calc(50% - 20px);
}
.feedback__form .form__group-tellus {
  width: 100%;
  margin: 66px 0 32px;
}
.feedback__form .form__group .label-text {
  position: absolute;
  top: 4px;
  left: 0;
  margin-bottom: 0;
}
.feedback__form .form__group .label-clip {
  position: absolute;
  top: 0;
  right: 5px;
  width: 9px;
  height: 18px;
  filter: grayscale(1);
  z-index: 2;
  cursor: pointer;
}
.feedback__form .form__group .label-clip:hover {
  filter: none;
}
.feedback__form .form__group .input-type-text {
  cursor: url("../../images/input-cursor.svg"), text;
  position: relative;
  background: transparent;
  border: none;
  border-bottom: 1px solid #BFBFBF;
  outline: none;
  padding: 4px 0 12px;
  z-index: 1;
  width: 100%;
}
.feedback__form .form__group .input-type-text:focus ~ .label-text, .feedback__form .form__group .input-type-text:not(:placeholder-shown) ~ .label-text {
  top: -20px;
  font-size: 12px;
}
.feedback__form .form__group .error {
  border-bottom-color: #FF4E32;
  position: relative;
}
.feedback__form .form__group .error-message {
  position: absolute;
  top: 110%;
  font-size: 12px;
  line-height: 16px;
  color: #FF4E32;
  user-select: none;
  opacity: 0;
}
.feedback__form .form__group .error ~ .error-message {
  opacity: 1;
}
.feedback__form .feedback-form-services {
  margin: 40px 0 24px;
}
.feedback__form .feedback-form-filename {
  position: absolute;
  top: 110%;
  right: 0;
  font-size: 14px;
  line-height: 19px;
  color: #C7C8D2;
}
.feedback__form #form-message {
  padding-right: 18px;
}
.feedback__form .service__item {
  margin: 0 7px 14px 0;
}
.feedback__form .service__item-label {
  font-size: 12px;
  line-height: 12px;
  padding: 12px 24px;
  background: rgba(42, 82, 255, 0.1);
  border-radius: 32px;
  margin-bottom: 0;
  user-select: none;
  cursor: pointer;
}
.feedback__form .service__item-label:hover {
  color: #FFFFFF;
  background: rgba(42, 82, 255, 0.5);
}
.feedback__form .service__item-label.active {
  color: #FFFFFF;
  background: #597EFF;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 767px) {
  .feedback__form .form__group-tellus {
    margin-top: 30px;
  }
}
.social-link-img {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}
.social-link-img:not(:last-child) {
  margin-right: 10px;
}
.social-link-img:hover {
  transform: scale(1.2);
}
.social-link-img:active {
  transition: all 0.05s linear;
  transform: scale(1.1);
}

.contacts__form .form__sender {
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.contacts__form .form__sender .form__group {
  width: calc(50% - 8px);
}
.contacts__form .form__group {
  position: relative;
}
.contacts__form .form__group .error {
  border-color: #FF4E32;
  position: relative;
}
.contacts__form .form__group .error-message {
  position: absolute;
  top: 100%;
  left: 3px;
  text-align: center;
  font-size: 10px;
  line-height: 13px;
  color: #FF4E32;
  pointer-events: none;
  opacity: 0;
}
.contacts__form .form__group .error ~ .error-message {
  opacity: 1;
}
.contacts__form .form__group .label-clip {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #E0E5F8;
  border-radius: 2px;
  z-index: 2;
  cursor: pointer;
  text-align: center;
}
.contacts__form #form-message {
  padding-right: 43px;
}
.contacts__form-services {
  margin: 40px 0 24px;
}
.contacts__form .feedback-form-filename {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 14px;
  line-height: 19px;
  color: #C7C8D2;
}
.contacts__form .service {
  max-width: 600px;
}
.contacts__form .service__item {
  margin: 0 7px 16px 0;
}
.contacts__form .service__item-label {
  padding: 9px 20px;
  background: #F0F1F8;
  border-radius: 4px;
  margin-bottom: 0;
  user-select: none;
  cursor: pointer;
}
.contacts__form .service__item-label:hover {
  background: #E6EAFC;
}
.contacts__form .service__item-label.active {
  background: #C7D2FF;
  transition: all 0.2s ease-in-out;
}
.contacts__form-btn {
  margin-top: 36px;
}
.contacts__form .contact-form-success {
  top: 0;
  border-radius: 4px;
}

.image-modal-window .modal {
  padding: 0 !important;
  overflow-y: scroll;
  text-align: center;
}
.image-modal-window .modal.show {
  display: flex !important;
  display: -webkit-flex !important;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
.image-modal-window .modal-dialog {
  max-width: 1500px;
  background-color: transparent;
  margin: 0;
  max-height: 100%;
}
.image-modal-window .modal-dialog .modal-content {
  background-color: transparent;
  border: none !important;
  padding: 0;
}
.image-modal-window .modal-dialog .modal-content .align-modal-helper {
  padding: 15px !important;
  height: 100%;
}
.image-modal-window .modal-dialog .modal-content .slide-image, .image-modal-window .modal-dialog .modal-content .iframe-wrapper {
  max-height: 80vh;
  max-width: 100%;
  object-fit: contain;
  background-color: transparent;
}
.image-modal-window .modal-dialog .modal-content .slide-image {
  width: auto;
  height: auto;
  padding: 0;
}
.image-modal-window .modal-dialog .modal-content .iframe-wrapper {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}
.image-modal-window .modal-dialog .modal-content .iframe-wrapper:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.image-modal-window .modal-dialog .modal-content .iframe-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.image-modal-window .modal-dialog .modal-content .carousel-inner, .image-modal-window .modal-dialog .modal-content .carousel-item {
  background-color: transparent !important;
}
.image-modal-window .carousel-control-prev, .image-modal-window .carousel-control-next {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #303041;
  color: #FFFFFF;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  opacity: 0.75;
  transition: all 0.2s linear;
}
.image-modal-window .carousel-control-prev:hover, .image-modal-window .carousel-control-next:hover {
  opacity: 1;
  transition: all 0.2s linear;
}
.image-modal-window .carousel-control-prev {
  margin-left: 10px;
}
.image-modal-window .carousel-control-next {
  margin-right: 10px;
}
.image-modal-window .modal-cross {
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #303041;
  opacity: 0.75;
  padding: 0;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}
.image-modal-window .modal-cross img {
  width: 20px !important;
  height: 20px !important;
}
.image-modal-window .modal-cross:hover {
  opacity: 1;
}
.image-modal-window .modal-cross:focus {
  outline: none;
}

.modal-backdrop {
  opacity: 0.8 !important;
}

@media screen and (max-width: 1200px) {
  .image-modal-window .modal {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media screen and (max-width: 1024px) {
  .image-modal-window .modal {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .image-modal-window .align-modal-helper {
    padding: 0 !important;
  }
}
@media screen and (max-width: 767px) {
  .image-modal-window .modal {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .image-modal-window .carousel-control-prev, .image-modal-window .carousel-control-next {
    opacity: 0.75;
  }
  .image-modal-window .carousel-control-prev:hover, .image-modal-window .carousel-control-next:hover {
    opacity: 0.75;
  }
  .image-modal-window .carousel-control-prev:focus, .image-modal-window .carousel-control-next:focus {
    opacity: 0.75;
  }
  .image-modal-window .modal-cross {
    opacity: 1;
  }
  .image-modal-window .modal-cross:hover {
    opacity: 1;
  }
  .image-modal-window .modal-cross:focus {
    opacity: 1;
  }
}
.about-page .strategy {
  margin-top: 177px;
}
.about-page .strategy__content {
  margin-top: 60px;
}
.about-page .strategy__list {
  width: 50%;
  padding: 40px 30px;
  background: #ECECF8;
  border-radius: 6px 0 0 6px;
}
.about-page .strategy__list-item {
  align-items: center;
  max-width: 360px;
  gap: 20px;
  padding: 20px 30px;
  background: #FAFAFA;
  border: 1px solid #FAFAFA;
  border-radius: 4px;
  margin-bottom: 24px;
  cursor: pointer;
}
.about-page .strategy__list-item:last-child {
  margin-bottom: 0;
}
.about-page .strategy__list-item:hover {
  box-shadow: 2px 8px 31px 1px rgba(216, 219, 232, 0.9);
  border: 1px solid rgba(42, 82, 255, 0.25);
}
.about-page .strategy__list-item.active {
  border: 1px solid #597EFF;
}
.about-page .strategy__list-item.active .strategy__list-num {
  background: #597EFF;
  color: #FFFFFF;
}
.about-page .strategy__list-item.active .strategy__list-title {
  color: #597EFF;
}
.about-page .strategy__list-num {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid #597EFF;
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
}
.about-page .strategy__list-title {
  margin-bottom: 0;
}
.about-page .strategy__list-text {
  display: none;
}
.about-page .strategy__description {
  width: 50%;
  background: #597EFF;
  padding: 70px 78px;
  border-radius: 0 6px 6px 0;
}
.about-page .strategy__description-item {
  display: none;
  color: #FFFFFF;
  opacity: 0;
}
.about-page .strategy__description-item.active {
  display: block;
  opacity: 1;
}
.about-page .strategy__description-title {
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 28px;
}
.about-page .strategy__description-text p {
  color: #FFFFFF;
}
@media screen and (min-width: 1025px) {
  .about-page .strategy__description-text p {
    font-size: 20px;
    line-height: 30px;
  }
}
.about-page .strategy__description-dots {
  margin-top: 60px;
  gap: 10px;
}
.about-page .strategy__description-dot {
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background: #6380FF;
}
.about-page .strategy__description-dot.active {
  width: 52px;
  background: #F0F1F8;
}

@media screen and (max-width: 1023px) {
  .about-page .strategy__description {
    padding: 70px 40px;
  }
  .about-page .strategy__list-item {
    padding: 20px 24px;
  }
}
@media screen and (max-width: 767px) {
  .about-page .strategy {
    margin-top: 60px;
  }
  .about-page .strategy__content {
    margin-top: 0;
    flex-direction: column;
  }
  .about-page .strategy__list {
    width: 100%;
    background: transparent;
    padding: 30px 0;
  }
  .about-page .strategy__list-item {
    flex-direction: column;
    align-items: start;
    gap: 0;
    max-width: 100%;
  }
  .about-page .strategy__list-item.active {
    border: 1px solid transparent;
  }
  .about-page .strategy__list-item.active .strategy__list-num {
    background: transparent;
    color: #303041;
  }
  .about-page .strategy__list-item.active .strategy__list-title {
    color: #303041;
  }
  .about-page .strategy__list-title {
    margin-top: 20px;
  }
  .about-page .strategy__list-text {
    display: block;
    margin-top: 10px;
  }
  .about-page .strategy__description {
    display: none !important;
  }
}
.about-page .reviews {
  margin: 180px auto 140px;
  overflow: hidden;
}
.about-page .reviews .brinpl-slider__slides {
  margin: 56px 0;
}
.about-page .reviews .brinpl-slider__slides .slick-slide {
  margin: 0 12px;
}
.about-page .reviews .brinpl-slider__slides .slick-slide > div {
  height: 100%;
}
.about-page .reviews__item {
  padding: 43px;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  border-radius: 4px;
  height: 100%;
}
.about-page .reviews__item-status {
  color: #C7C8D2;
  margin-bottom: 18px;
}
.about-page .reviews__item .img-wrapper {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  overflow: hidden;
  margin-bottom: 16px;
}
.about-page .reviews__item .img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .about-page .reviews {
    margin: 60px auto;
  }
  .about-page .reviews .brinpl-slider__slides {
    margin: 28px 0;
  }
}
.about-page .collab {
  margin: 140px auto;
}
.about-page .collab__posts {
  margin-top: 60px;
  gap: 20px;
}
.about-page .collab__post {
  width: calc((100% - 40px) / 3);
  padding: 32px 24px;
  border-radius: 4px;
}
.about-page .collab__post-title {
  color: #597EFF;
  text-transform: uppercase;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .about-page .collab {
    margin: 60px auto;
  }
  .about-page .collab__posts {
    margin-top: 30px;
    flex-direction: column;
  }
  .about-page .collab__post {
    width: 100%;
    padding: 0;
    border: 1px solid transparent;
  }
  .about-page .collab__post-header.active .collab__post-title {
    color: #597EFF;
    padding-bottom: 12px;
    left: 0;
    transform: translate(0);
  }
  .about-page .collab__post-title {
    color: #303041;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 0;
    padding: 28px 16px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
  }
  .about-page .collab__post-text {
    padding: 0 16px 28px 16px;
    display: none;
  }
  .about-page .collab__post-text p {
    font-size: 12px;
    line-height: 17px;
  }
  .about-page .collab__post.active {
    border: 1px solid rgba(42, 82, 255, 0.25);
  }
}
.homepage .hero {
  display: flex;
  flex-direction: column;
  min-height: 525px;
  padding: 180px 0 52px;
  margin-bottom: 58px;
  overflow-x: hidden;
}
.homepage .hero__content {
  margin: auto;
  width: 100%;
}
.homepage .hero__content-left {
  width: 55%;
}
.homepage .hero__content-right {
  width: 50%;
  position: relative;
}
.homepage .hero__content-right-image {
  position: relative;
  width: 110%;
}
.homepage .hero__content-right-image::before {
  content: "";
  display: block;
  padding-top: 80%;
}
.homepage .hero__content .main-title {
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.homepage .hero__content .main-title span {
  color: #597EFF;
  font-family: FontBold;
}
.homepage .hero__content .main-subtitle {
  color: #303041;
  margin: 32px 0;
  max-width: 450px;
}

@media screen and (max-width: 1200px) {
  .homepage .hero__content .main-title {
    font-size: 54px;
    line-height: 62px;
  }
}
@media screen and (max-width: 1088px) {
  .homepage .hero__content .main-title {
    font-size: 48px;
    line-height: 56px;
  }
}
@media screen and (max-width: 1014px) {
  .homepage .hero__content .main-title {
    font-size: 44px;
    line-height: 52px;
  }
}
@media screen and (max-width: 932px) {
  .homepage .hero__content .main-title {
    font-size: 40px;
    line-height: 48px;
  }
}
@media screen and (max-width: 767px) {
  .homepage__cube {
    display: none;
  }
  .homepage .hero {
    padding: 100px 0 30px;
  }
  .homepage .hero__content {
    flex-direction: column;
  }
  .homepage .hero__content-left {
    order: 1;
    width: 80%;
    text-align: center;
    margin-top: 32px;
  }
  .homepage .hero__content-left .main-subtitle {
    max-width: none;
    margin: 40px 0 50px;
  }
  .homepage .hero__content-right {
    width: 100%;
  }
  .homepage .hero__content-right-image {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .homepage .hero__content-left, .homepage .hero__content-right {
    width: 100%;
  }
}
.homepage .whatwedo {
  padding: 0 70px 140px;
  max-width: 1390px;
  margin: 0 auto;
}
.homepage .whatwedo__tabs {
  display: inline-flex;
  position: relative;
  gap: 37px;
  margin-top: 64px;
  white-space: nowrap;
}
.homepage .whatwedo > div.overflow-auto::-webkit-scrollbar {
  display: none;
}
.homepage .whatwedo__tab {
  color: #C7C8D2;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  padding-bottom: 8px;
}
.homepage .whatwedo__tab::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #597EFF;
}
.homepage .whatwedo__tab::after {
  opacity: 0;
  width: 0;
  left: 50%;
}
.homepage .whatwedo__tab.active, .homepage .whatwedo__tab:hover {
  color: #303041;
}
.homepage .whatwedo__tab.active::after, .homepage .whatwedo__tab:hover::after {
  opacity: 1;
  width: 100%;
  left: 0;
}
.homepage .whatwedo__tab.active {
  pointer-events: none;
}
.homepage .whatwedo__content {
  margin-top: 44px;
}
.homepage .whatwedo__content-item {
  display: none;
  justify-content: space-between;
}
.homepage .whatwedo__content-item.active {
  display: flex;
}
.homepage .whatwedo__content-col1 {
  width: 34%;
}
.homepage .whatwedo__content-title {
  margin-bottom: 32px;
}
.homepage .whatwedo__content-col2 {
  width: 51%;
}
.homepage .whatwedo__content-col2 .img-wrapper {
  position: relative;
  height: 100%;
}
.homepage .whatwedo__content-col2 .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 61.6%;
}
.homepage .whatwedo__content-2images {
  display: flex;
  gap: 24px;
}
.homepage .whatwedo__content-2images .img-wrapper {
  position: relative;
  width: calc(50% - 12px);
}
.homepage .whatwedo__content-2images .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 128%;
}
.homepage .whatwedo__content-3images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}
.homepage .whatwedo__content-3images .img-wrapper {
  position: relative;
}
.homepage .whatwedo__content-3images .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 60%;
}
.homepage .whatwedo__content-3images .img-wrapper:first-child {
  grid-column: 1;
  grid-row: 1;
}
.homepage .whatwedo__content-3images .img-wrapper:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.homepage .whatwedo__content-3images .img-wrapper:nth-child(3) {
  grid-column: 2;
  grid-row: 1/3;
  position: relative;
}
.homepage .whatwedo__content-3images .img-wrapper:nth-child(3)::before {
  content: "";
  display: block;
  padding-top: 128%;
}
.homepage .whatwedo__btn {
  margin-top: 64px;
}

@media screen and (max-width: 1024px) {
  .homepage .whatwedo__content-col1,
  .homepage .whatwedo__content-col2 {
    width: calc((100% - 40px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .homepage .whatwedo {
    padding: 0 15px 60px;
  }
  .homepage .whatwedo__tabs {
    display: none;
  }
  .homepage .whatwedo__content-item.active {
    display: block;
  }
  .homepage .whatwedo__content-col1, .homepage .whatwedo__content-col2 {
    width: 100%;
  }
  .homepage .whatwedo__content-text {
    margin-bottom: 22px;
  }
  .homepage .whatwedo__btn {
    margin-top: 32px;
  }
}
.homepage .portfolio-slider {
  padding-bottom: 130px;
  overflow: hidden;
}
.homepage .portfolio-slider__link {
  color: #303041;
  text-decoration: underline;
  white-space: nowrap;
}
.homepage .portfolio-slider__link::after {
  content: url(../../images/Arrow-outward-blue.svg);
  margin-left: 8px;
  filter: grayscale(1);
}
.homepage .portfolio-slider__link:hover {
  color: #597EFF;
  text-decoration: underline;
}
.homepage .portfolio-slider__link:hover::after {
  filter: none;
}
.homepage .portfolio-slider .brinpl-slider__slides {
  margin: 64px 0;
}
.homepage .portfolio-slider .brinpl-slider__slides-item:hover h5 {
  color: #597EFF;
}
.homepage .portfolio-slider .brinpl-slider__slides-item .img-wrapper {
  position: relative;
}
.homepage .portfolio-slider .brinpl-slider__slides-item .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 73%;
}
.homepage .portfolio-slider .brinpl-slider__slides-item h5 {
  margin-top: 16px;
  text-align: center;
}
.homepage .portfolio-slider .brinpl-slider__slides .slick-slide {
  margin: 0 14px;
}

@media screen and (max-width: 767px) {
  .homepage .portfolio-slider {
    padding-bottom: 60px;
  }
  .homepage .portfolio-slider .brinpl-slider__slides {
    margin: 32px 0;
  }
}
.homepage .main-about {
  padding-bottom: 130px;
}
.homepage .main-about .text-img__col1 {
  width: 37%;
}
.homepage .main-about .text-img__col1-inner > .text-img-text {
  margin-top: 32px;
}
.homepage .main-about .text-img__col2 {
  width: 60%;
}
.homepage .main-about .text-img__col2-inner .img-wrapper {
  position: relative;
}
.homepage .main-about .text-img__col2-inner .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 80%;
}
@media screen and (min-width: 1024px) {
  .homepage .main-about__wrapper {
    padding: 0 65px;
  }
}

@media screen and (max-width: 1023px) {
  .homepage .main-about .text-img__col1, .homepage .main-about .text-img__col2 {
    width: calc(50% - 12px);
  }
}
@media screen and (max-width: 767px) {
  .homepage .main-about {
    padding-bottom: 60px;
  }
  .homepage .main-about .text-img {
    flex-direction: column-reverse;
  }
  .homepage .main-about .text-img__col1 {
    width: 80%;
  }
  .homepage .main-about .text-img__col1-inner {
    max-width: 100%;
  }
  .homepage .main-about .text-img__col2 {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .homepage .main-about .text-img__col1 {
    width: 100%;
  }
}
.homepage .all-services__prev, .homepage .all-services__next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.homepage .all-services__prev {
  left: -60px;
}
.homepage .all-services__next {
  right: -60px;
}
.homepage .all-services__tab-item {
  width: calc((100% - 96px) / 5);
}
.homepage .all-services__tab-item .not-set-img img {
  background: #e8eaef;
}
.homepage .all-services__tab-item:hover img {
  transform: scale(1.1);
}
.homepage .all-services__tab-item:hover .not-set-img img {
  transform: none;
  background: #e8eaef;
}
.homepage .all-services__tab-item:hover h4 {
  color: #597EFF;
}
.homepage .all-services__tab-item .img-wrapper {
  border-radius: 6px;
  position: relative;
  pointer-events: none;
}
.homepage .all-services__tab-item .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 87%;
}
.homepage .all-services__tab-item-title {
  margin-top: 16px;
  text-align: center;
  pointer-events: none;
}
.homepage .all-services__tab .slick-list {
  padding: 30px 0;
}
.homepage .all-services__tab .slick-track {
  gap: 20px;
}

@media screen and (max-width: 992px) {
  .homepage .all-services__tab {
    gap: 12px 14px;
  }
  .homepage .all-services__tab-item-title {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 767px) {
  .homepage .all-services__tab-item {
    width: calc((100% - 24px) / 2);
  }
  .homepage .all-services__tab .slick-slide {
    margin: 0 10px;
  }
}
@media screen and (max-width: 479px) {
  .homepage .all-services__tab {
    overflow: hidden;
    margin: 44px -15px 0;
  }
  .homepage .all-services__tab .slick-slide {
    margin: 0 10px;
  }
}
@media screen and (max-width: 389px) {
  .homepage .all-services__tab-item {
    width: 100%;
  }
}
.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  backdrop-filter: blur(15px);
  z-index: 1030;
}
.popup.active {
  display: flex;
}
.popup::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(189, 192, 205, 0.6);
  opacity: 0.6;
  z-index: -1;
}
.popup__close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 4px;
  background: #C7C8D2;
  z-index: 1;
}
.popup__close > img {
  filter: brightness(2);
}
.popup__close:hover {
  background: #85869E;
}
.popup__body {
  width: 100%;
  max-width: 600px;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 24px 180px 24px 24px;
}
.popup__body-pers {
  width: 180px;
  height: 385px;
  max-height: calc(100% - 48px);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.popup__body-pers > img {
  object-fit: contain;
}
.popup__body-fig {
  width: 115px;
  height: 115px;
  bottom: -50px;
  right: 160px;
}
.popup__title {
  text-transform: uppercase;
  color: #597EFF;
  margin-bottom: 0;
}
.popup__text {
  margin-top: 16px;
}
.popup__text.wysiwyg-styles p {
  font-size: 13px;
  line-height: 20px;
}
.popup__btn {
  margin-top: 28px;
}
.popup__form {
  margin-top: 28px;
  display: none;
}
.popup__form .input-type-text {
  font-size: 13px;
  line-height: 14px;
}
.popup__form-input {
  width: calc(50% - 6px);
}
.popup__form-input:first-child {
  margin-right: 8px;
}
.popup__form-textarea {
  margin-top: 12px;
  resize: none;
}
.popup__form-agree {
  margin: 12px 0 0;
  font-size: 11px;
  line-height: 16px;
  color: #C7C8D2;
}
.popup__form-btn {
  margin-top: 28px;
}

.outstaff {
  padding-bottom: 90px;
}
.outstaff__new {
  color: #597EFF;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.outstaff__new::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  margin-right: 10px;
  background: #597EFF;
}
.outstaff__content {
  margin-top: 24px;
}
.outstaff__content-col1 {
  width: calc(35% - 20px);
  max-width: 404px;
}
.outstaff__content-col2 {
  width: calc(65% - 20px);
  max-width: 796px;
  gap: 20px;
  align-self: flex-start;
}
.outstaff__content-card {
  width: calc((100% - 40px) / 3);
  background: #FFFFFF;
  padding: 24px 20px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid transparent;
}
.outstaff__content-card:hover {
  border: 2px solid rgba(42, 82, 255, 0.25);
}
.outstaff__content-card-img {
  width: 70px;
  height: 70px;
  margin: 0 auto 10px;
}
.outstaff__content-card-title {
  margin-bottom: 4px;
}
.outstaff__content-card-text {
  margin-bottom: 24px;
}
.outstaff__content-card-btn {
  margin-top: auto;
  align-self: center;
}

@media screen and (max-width: 992px) {
  .outstaff__content {
    flex-direction: column;
  }
  .outstaff__content-col1, .outstaff__content-col2 {
    width: 100%;
    max-width: 100%;
  }
  .outstaff__content-col2 {
    margin-top: 24px;
  }
}
@media screen and (max-width: 639px) {
  .outstaff__content-card {
    width: calc((100% - 20px) / 2);
  }
}
@media screen and (max-width: 479px) {
  .outstaff__content-card {
    width: 100%;
  }
}
.services-page .services__content .text-img {
  margin: 200px auto;
}
.services-page .services__content .text-img__col2-inner .img-wrapper {
  position: relative;
}
.services-page .services__content .text-img__col2-inner .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 73.5%;
}
.services-page .services__content .text-img:first-child {
  margin-top: 0;
}
.services-page .services__content .text-img:nth-child(even) .text-img__col1 {
  order: 2;
}
.services-page .services__content .text-img:nth-child(even) .text-img__col1-inner {
  margin-left: auto;
}
.services-page .services__content .text-img:nth-child(even) .text-img__col2 {
  order: 1;
}
.services-page .services__content .text-img:nth-child(even) .text-img__col2-inner {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .services-page .services__content .text-img {
    margin: 50px auto;
  }
  .services-page .services__content .text-img__col1 {
    margin-bottom: 50px;
    order: 1;
  }
}
.about-page .about__first {
  padding-top: 180px;
}
.about-page .about__first-title {
  color: #597EFF;
  margin-bottom: 48px;
}
.about-page .about__first .wrapper {
  max-width: 670px;
}
.about-page .about__first .img-wrapper {
  max-height: 640px;
  padding: 0 50px;
}
.about-page .about__first .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about-page .things {
  margin-top: 140px;
  margin-bottom: 80px;
}
.about-page .things__content-item {
  width: calc(50% - 87.5px);
  margin-top: 60px;
}
.about-page .things__content-item-heading {
  gap: 16px;
}
.about-page .things__content-item-heading .img-wrapper {
  position: relative;
  width: 64px;
  height: 64px;
}
.about-page .things__content-item-heading .img-wrapper img {
  object-fit: contain;
}
.about-page .things__content-item-title {
  max-width: 230px;
  margin-bottom: 0;
}
.about-page .things__content-item-text {
  margin: 22px 0 0;
}
.about-page .things.wrapper {
  max-width: 1040px;
}
@media screen and (max-width: 1366px) {
  .about-page .things__content-item {
    width: calc(50% - 30px);
  }
}
@media screen and (max-width: 767px) {
  .about-page .things {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .about-page .things__content {
    flex-direction: column;
    margin-top: 8px;
  }
  .about-page .things__content-item {
    width: 100%;
    margin-top: 16px;
    border-radius: 4px;
    box-shadow: 2px 6px 24px 1px rgba(227, 229, 237, 0.75);
    padding: 20px 32px;
  }
  .about-page .things__content-item-heading .img-wrapper {
    width: 45px;
    height: 45px;
  }
  .about-page .things__content-item-title {
    max-width: 100%;
    font-size: 18px;
    line-height: 23px;
  }
  .about-page .things__content-item-text {
    margin-top: 10px;
    font-size: 12px;
    line-height: 16px;
  }
}
.about-page .faq {
  margin-top: 140px;
  margin-bottom: 140px;
}
.about-page .faq__subtitle {
  margin: 20px auto 0;
  max-width: 420px;
}
.about-page .faq__items {
  margin: 60px auto 0;
  max-width: 820px;
}
.about-page .faq__item {
  border-radius: 6px;
  margin-bottom: 20px;
}
.about-page .faq__item-question {
  color: #303041;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 23px;
  padding: 28px 80px 24px 40px;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;
}
.about-page .faq__item-question::before, .about-page .faq__item-question::after {
  content: "";
  width: 12px;
  height: 3px;
  background: #303041;
  position: absolute;
  top: 50%;
}
.about-page .faq__item-question::before {
  transform: rotate(45deg);
  right: 47px;
}
.about-page .faq__item-question::after {
  transform: rotate(-45deg);
  right: 40px;
}
.about-page .faq__item-question.active {
  color: #597EFF;
}
.about-page .faq__item-question.active::before, .about-page .faq__item-question.active::after {
  background: #597EFF;
}
.about-page .faq__item-question.active::before {
  transform: rotate(-45deg);
}
.about-page .faq__item-question.active::after {
  transform: rotate(45deg);
}
.about-page .faq__item-question:hover {
  color: #597EFF;
}
.about-page .faq__item-question:hover::before, .about-page .faq__item-question:hover::after {
  background: #597EFF;
}
.about-page .faq__item-answer {
  display: none;
  padding: 0 40px 28px;
}
@media screen and (max-width: 767px) {
  .about-page .faq {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .about-page .faq__item-question:hover {
    color: #303041;
  }
  .about-page .faq__item-question:hover::before, .about-page .faq__item-question:hover::after {
    background: #303041;
  }
  .about-page .faq__item-question.active {
    color: #597EFF;
  }
  .about-page .faq__item-question.active::before, .about-page .faq__item-question.active::after {
    background: #597EFF;
  }
}
@media screen and (max-width: 479px) {
  .about-page .faq__items {
    margin-top: 30px;
  }
  .about-page .faq__item-question {
    padding: 20px 60px 18px 20px;
  }
  .about-page .faq__item-question::before {
    right: 27px;
  }
  .about-page .faq__item-question::after {
    right: 20px;
  }
  .about-page .faq__item-answer {
    padding: 0 20px 18px;
  }
}

@media screen and (max-width: 1023px) {
  .about-page .reviews__item {
    padding: 30px;
  }
}
@media screen and (max-width: 767px) {
  .about-page .about__first {
    padding-top: 120px;
  }
  .about-page .about__first-title {
    margin-bottom: 24px;
  }
}
.portfolio-page .portfolio__filter {
  margin-bottom: 40px;
}
.portfolio-page .portfolio__filter-buttons {
  gap: 10px;
}
.portfolio-page .portfolio__category-input {
  display: none;
}
.portfolio-page .portfolio__category-input:checked + .portfolio__category-name {
  border-color: #597EFF;
  color: #303041;
}
.portfolio-page .portfolio__category-name {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 24px;
  color: #85869E;
  text-align: center;
  padding: 14px 22px;
  border: 2px solid #edeef5;
  border-radius: 6px;
  cursor: pointer;
}
.portfolio-page .portfolio__category-name:hover {
  border-color: rgba(42, 82, 255, 0.25);
}
.portfolio-page__list {
  margin-bottom: 140px;
  gap: 52px 24px;
}
.portfolio-page .portfolio-page__list-item {
  width: calc(33.333% - 16px);
}
.portfolio-page .portfolio-page__list-item:hover h3 {
  color: #597EFF;
}
.portfolio-page .portfolio-page__list-item .img-wrapper {
  position: relative;
  border-radius: 10px;
}
.portfolio-page .portfolio-page__list-item .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 90%;
}
.portfolio-page .portfolio-page__list-item-title {
  margin-top: 24px;
}
@media screen and (max-width: 767px) {
  .portfolio-page .portfolio-page__list-item {
    width: calc(50% - 12px);
  }
}
@media screen and (max-width: 479px) {
  .portfolio-page .portfolio-page__list-item {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio-title {
    font-size: 28px;
    line-height: 34px;
    margin-top: 12px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-page__list {
    gap: 26px 24px;
    margin-bottom: 50px;
  }
}
.portfolio-single__content {
  padding-top: 212px;
  padding-bottom: 130px;
}
.portfolio-single__content-col1 {
  margin-right: 40px;
  align-self: start;
  position: sticky;
  top: 120px;
}
.portfolio-single__content-col1 > a:last-child {
  margin-bottom: 0;
}
.portfolio-single__content-col2 {
  width: calc(75% - 90px);
  border-radius: 10px;
  overflow: hidden;
}
.portfolio-single__content-col2 img {
  width: 100%;
}
.portfolio-single__content-col3 {
  width: calc(30% - 80px);
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .portfolio-single__content-col3 {
    align-self: start;
    position: sticky;
    top: 120px;
  }
}
.portfolio-single__content-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background: #F0F1F8;
  border-radius: 10px;
  margin-bottom: 12px;
}
.portfolio-single__content-nav:hover {
  filter: brightness(0.9);
}
.portfolio-single__content-nav:active {
  transition: none;
  filter: brightness(0.8);
}
.portfolio-single__content-nav.portfolio-close:hover img {
  transform: rotate(-360deg);
}
.portfolio-single__content-nav.portfolio-prev {
  transform: scale(-1);
}
.portfolio-single__content-descr {
  background: #F0F1F8;
  border-radius: 10px;
  padding: 32px 20px 52px;
}
.portfolio-single__content-descr-title {
  margin-bottom: 16px;
}
.portfolio-single__content-descr-text {
  font-size: 12px;
  line-height: 16px;
  color: #85869E;
  margin-bottom: 40px;
}
.portfolio-single__carousel {
  margin-bottom: 140px;
  overflow: hidden;
}
.portfolio-single__carousel-slides .slick-slide {
  margin: 64px 12px;
}
.portfolio-single__carousel .img-wrapper {
  position: relative;
  border-radius: 10px;
}
.portfolio-single__carousel .img-wrapper::before {
  content: "";
  display: block;
  padding-top: 89%;
}
.portfolio-single .portfolio-carousel__buttons {
  margin-top: 30px;
}
.portfolio-single .portfolio-carousel__prev, .portfolio-single .portfolio-carousel__next {
  border: none;
  margin: 0 6px;
}
.portfolio-single .slick-list::after {
  content: none;
}

.no-image {
  width: 50%;
  margin-left: 0;
}

@media screen and (max-width: 1024px) {
  .portfolio-single__content-col1 {
    margin-right: 10px;
  }
  .portfolio-single__content-col2 {
    flex: 0 0 auto;
  }
  .portfolio-single__content-col3 {
    width: auto;
    margin-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-single__content {
    padding-top: 100px;
    padding-bottom: 40px;
    flex-wrap: wrap;
  }
  .portfolio-single__content-col2 {
    width: 100%;
    order: 1;
    margin-top: 10px;
  }
  .portfolio-single__content-col3 {
    width: calc(100% - 52px);
    margin-left: 0;
  }
  .portfolio-single__content-descr {
    padding: 20px;
  }
  .portfolio-single__carousel {
    margin-bottom: 60px;
  }
  .portfolio-single__carousel-slides .slick-slide {
    margin: 24px 12px;
  }
}
.contacts-page {
  padding-top: 180px;
  padding-bottom: 160px;
  overflow-x: hidden;
}
.contacts-page__feedback {
  gap: 20px;
  max-width: 1170px;
  margin: 0 auto;
}
.contacts-page__col1::after {
  content: "";
  background: url("../../images/specular.png") 0 0/contain no-repeat;
  position: absolute;
  height: 300px;
  width: 300px;
  top: 150px;
  left: 10px;
  opacity: 0.3;
  z-index: -1;
  filter: brightness(3.5);
}
.contacts-page__col1 .socials__wrapper {
  margin-bottom: 50px;
}
.contacts-page__socials {
  margin-bottom: 16px;
  color: #85869E;
}
.contacts-page__contacts-item {
  margin-bottom: 30px;
}
.contacts-page__contacts-item:last-child {
  margin-bottom: 0;
}
.contacts-page__contacts-item-title {
  color: #85869E;
  margin-bottom: 12px;
}
.contacts-page__contacts-item-link {
  color: #303041;
}
.contacts-page__col2 {
  width: 60%;
}
.contacts-page__col2 .section-title {
  margin-bottom: 40px;
  line-height: 54px;
}
.contacts-page .steps {
  margin-top: 160px;
}
.contacts-page .steps__items {
  margin-top: 60px;
  gap: 20px;
  position: relative;
}
.contacts-page .steps__items::before {
  content: "";
  position: absolute;
  width: 84%;
  height: 2px;
  background: #F0F1F8;
  top: 22px;
  z-index: -1;
}
.contacts-page .steps__item {
  max-width: 240px;
}
.contacts-page .steps__item-number {
  flex: 0 0 auto;
  width: 44px;
  height: 44px;
  border-radius: 30px;
  background: #FAFAFA;
}
.contacts-page .steps__item-text {
  margin: 24px 0 0;
}
.contacts-page .call-to-action {
  margin-top: 160px;
  padding: 70px 0 85px;
  position: relative;
}
.contacts-page .call-to-action::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: 0 -53px 0 -35px;
  opacity: 0.65;
  background: url("../../images/cta-bg.png") center bottom/contain no-repeat;
  z-index: -1;
}
.contacts-page .call-to-action .section-title {
  line-height: 54px;
}
.contacts-page .call-to-action__btn {
  width: fit-content;
  margin: 60px auto 0;
  position: relative;
}
.contacts-page .call-to-action__btn a {
  font-size: 16px;
}

@media screen and (max-width: 1023px) {
  .contacts-page__title {
    font-size: 50px;
    line-height: 68px;
  }
}
@media screen and (max-width: 767px) {
  .contacts-page {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .contacts-page__feedback {
    flex-direction: column;
  }
  .contacts-page__title {
    padding: 14px 0 32px;
  }
  .contacts-page__col1 {
    text-align: center;
  }
  .contacts-page__col1::after {
    bottom: auto;
    top: 20px;
  }
  .contacts-page__col2 {
    width: 100%;
    margin-top: 20px;
  }
  .contacts-page__col2 .section-title {
    text-align: center;
    margin-bottom: 30px;
  }
  .contacts-page .steps {
    margin-top: 60px;
  }
  .contacts-page .steps__title {
    text-align: center;
  }
  .contacts-page .steps__items {
    margin: 30px auto 0;
    flex-direction: column;
    max-width: 480px;
  }
  .contacts-page .steps__items::before {
    content: none;
  }
  .contacts-page .steps__item {
    display: flex;
    align-items: center;
    max-width: none;
  }
  .contacts-page .steps__item-text {
    margin: 0 0 0 20px;
  }
  .contacts-page .call-to-action {
    margin-top: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
