.homepage {
  .main-about {
    margin-top: 90px;
    .text-img {
      &__col1 {
        width: 37%;
        &-inner {
          & > .text-img-text {
            margin-top: 36px;
          }
        }
      }
      &__col2 {
        width: 60%;
        &-inner {
          .img-wrapper {
            @include image(80);
          }
        }
      }
    }
    &__wrapper {
      @media screen and (min-width: 1024px) {
        padding: 0 65px;
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .homepage {
    .main-about {
      .text-img {
        &__col1,
        &__col2 {
          width: calc(50% - 12px);
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .homepage {
    .main-about {
      margin-top: 60px;
      .text-img {
        flex-direction: column-reverse;
        &__col1 {
          width: 80%;
          &-inner {
            max-width: 100%;
          }
        }
        &__col2 {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 479px) {
  .homepage {
    .main-about {
      .text-img__col1 {
        width: 100%;
      }
    }
  }
}