.homepage {
  .all-services {
    &__prev,
    &__next {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
    &__prev {
      left: -60px;
    }
    &__next {
      right: -60px;
    }
    &__tab {
      &-item {
        width: calc((100% - 96px) / 5);

        .not-set-img {
          img {
            background: #e8eaef;
          }
        }

        &:hover {
          img {
            transform: scale(1.1);
          }

          .not-set-img {
            img {
              transform: none;
              background: #e8eaef;
            }
          }

          h4 {
            color: $blue;
          }
        }

        .img-wrapper {
          border-radius: 6px;
          @include image(87);
          pointer-events: none;
        }

        &-title {
          margin-top: 16px;
          text-align: center;
          pointer-events: none;
        }
      }

      .slick {
        &-list {
          padding: 30px 0;
        }

        &-track {
          gap: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .homepage {
    .all-services__tab {
      gap: 12px 14px;
      &-item-title {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .homepage {
    .all-services__tab {
      &-item {
        width: calc((100% - 24px) / 2);
      }
      .slick-track {
        gap: 0;
      }
      .slick-slide {
        margin: 0 10px;
      }
    }
  }
}
@media screen and (max-width: 479px) {
  .homepage {
    .all-services__tab {
      overflow: hidden;
      margin: 44px -15px 0;
    }
    .all-services__tab {
      .slick-slide {
        margin: 0 10px;
      }
    }
  }

}
@media screen and (max-width: 389px) {
  .homepage {
    .all-services__tab-item {
      width: 100%;
    }
  }
}