.homepage {
    .all-services__tab {
        display: none;
        grid-template-columns: repeat(4, 1fr);
        // grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        // grid-template-rows: repeat(auto-fill, minmax(184px, 1fr));
        grid-auto-rows: 1fr;
        grid-column-gap: 27px;
        grid-row-gap: 24px;
        grid-auto-flow: column;
        &.active {
            display: grid;
        }
        &-item {
            @include image(63);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 67.55%, rgba(0, 0, 0, 0.72) 100%);
            border-radius: 2px;
            &:nth-child(3n+1) {
                grid-row: span 2;
                @include image(134);
            }
            // &:nth-child(3n+2) {
            //     grid-row: 1;
            // }
            // &:nth-child(3n+3) {
            //     grid-row: 2 / 2;
            // }
            &-title {
                position: absolute;
                bottom: 6px;
                left: 16px;
                right: 16px;
                line-height: 26px;
                color: $white;
                pointer-events: none;
            }
            img {
                z-index: -1;
            }
        }
    }
}