.homepage {
  .portfolio-slider {
    padding-bottom: 130px;
    overflow: hidden;
    &__link {
      color: $black;
      text-decoration: underline;
      white-space: nowrap;
      &::after {
        content: url(../../images/Arrow-outward-blue.svg);
        margin-left: 8px;
        filter: grayscale(1);
      }
      &:hover {
        color: $blue;
        text-decoration: underline;
        &::after {
          filter: none;
        }
      }
    }
    .brinpl-slider {
      &__slides {
        margin: 64px 0;
        &-item {
          &:hover {
            h5 {
              color: $blue;
            }
          }
          .img-wrapper {
            @include image(73);
          }
          h5 {
            margin-top: 16px;
            text-align: center;
          }
        }
        .slick-slide {
          margin: 0 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .homepage {
    .portfolio-slider {
      padding-bottom: 60px;
      .brinpl-slider__slides {
        margin: 32px 0;
      }
    }
  }
}