.homepage {
  .whatwedo {
    padding: 0 70px;
    max-width: 1390px;
    margin: 90px auto 0;
    &__tabs {
      display: inline-flex;
      position: relative;
      gap: 37px;
      margin-top: 60px;
      white-space: nowrap;
    }
    &>div.overflow-auto {
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__tab {
      color: $grey;
      text-transform: capitalize;
      position: relative;
      z-index: 1;
      padding-bottom: 8px;
      @include tabs-underline($blue);
      &::after {
        opacity: 0;
        width: 0;
        left: 50%;
        border-radius: 2px;
      }
      &.active,
      &:hover {
        color: $black;
        &::after {
          opacity: 1;
          width: 100%;
          left: 0;
        }
      }
      &.active {
        pointer-events: none;
      }
    }
    &__content {
      margin-top: 44px;
      &-item {
        display: none;
        justify-content: space-between;
        &.active {
          display: flex;
        }
      }
      &-col1 {
        width: 36%;
      }
      &-title {
        margin-bottom: 32px;
      }
      &-col2 {
        width: 60%;
        align-self: flex-start;
        .img-wrapper {
          @include image(61.6);
        }
      }
      &-2images {
        display: flex;
        gap: 20px;
        .img-wrapper {
          &:first-child {
            width: calc(35% - 0px);
            @include image(144);
          }
          &:last-child {
            width: 62%;
            @include image(82);
          }
        }
      }
      &-3images {
        display: grid;
        grid-template-columns: 44% 54%;
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        .img-wrapper {
          &:first-child {
            @include image(55);
            grid-column: 1;
            grid-row: 1;
          }
          &:nth-child(2) {
            @include image(55);
            grid-column: 1;
            grid-row: 2;
          }
          &:nth-child(3) {
            @include image(94);
            grid-column: 2;
            grid-row: 1/3;
          }
        }
      }
    }
    &__btn {
      margin-top: 64px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .homepage {
    .whatwedo {
      &__content {
        &-2images,
        &-3images {
          gap: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .homepage {
    .whatwedo {
      padding: 0 15px;
      margin-top: 60px;
      &__content {
        &-item {
          &.active {
            display: block;
          }
        }
        &-col1,
        &-col2 {
          width: 100%;
        }
        &-text {
          margin-bottom: 22px;
        }
      }
      &__btn {
        margin-top: 32px;
      }
    }
  }
}